#hero-section > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: flex;flex-direction: column;}
#hero-section {display: block;}
#hero-section {text-align: left;}
#div_block-4-136 {width: 50%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;margin-left: 0px;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;}
#div_block-5-136 {width: 50%;}
#div_block-25-136 {background-color: #fff;width: 80%;height: 1px;padding-top: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;margin-left: auto;margin-top: 0px;margin-bottom: 0px;min-height: 1px;max-height: 1px;}
@media (max-width:991px) {#new_columns-3-136> .ct-div-block {width: 100% !important;}}
#headline-8-136 {margin-left: 5%;color: #fff;font-family: "Antonio";margin-top: auto;margin-bottom: auto;}
#image-7-136 {object-fit: cover;}