#section-303-20 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: flex;flex-direction: row;align-items: stretch;justify-content: space-between;}
#section-303-20 {display: block;}
#section-303-20 {background-color: #05abe8;overflow: hidden;}
#section-122-20 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-122-20 {overflow: hidden;}
@media (max-width:1200px) {#section-320-20 > .ct-section-inner-wrap {padding-bottom: 0;}}
@media (max-width:1200px) {#section-122-20 > .ct-section-inner-wrap {padding-top: 0;}}
@media (max-width:991px) {#section-320-20 > .ct-section-inner-wrap {padding-bottom: 0;}}
@media (max-width:991px) {#section-122-20 > .ct-section-inner-wrap {padding-top: 0;}}
@media (max-width:767px) {#section-320-20 > .ct-section-inner-wrap {padding-top: 20px;}}
#div_block-304-20 {min-width: 40%;max-width: 40%;padding-top: 5rem;padding-bottom: 5rem;justify-content: center;}
#div_block-306-20 {min-width: 60%;max-width: 60%;min-height: 100%;text-align: left;align-items: center;}
#div_block-374-20 {display: block;}
#div_block-347-20 {display: block;width: 50%;position: relative;height: auto;margin-top: auto;margin-left: -10%;shape-outside: url("https://techopsph.github.io/urc-ar-2024/wp-content/uploads/2025/07/01-URC_Chairman_Lance_Gokongwei-1.png");shape-margin: 5rem;}
#div_block-383-20 {display: none;}
#div_block-384-20 {display: block;width: 50%;position: relative;height: auto;margin-left: -25%;margin-top: auto;shape-outside: url("https://techopsph.github.io/urc-ar-2024/wp-content/uploads/2025/07/01-URC_Chairman_Lance_Gokongwei-1.png");shape-margin: 5rem;}
#div_block-127-20 {width: 33.33%;padding-bottom: 0px;display: block;}
#div_block-128-20 {width: 33.33%;padding-bottom: 0px;display: block;}
#div_block-129-20 {width: 33.34%;display: block;padding-bottom: 0px;}
#div_block-148-20 {display: inline-block;float: none;padding-top: 0px;}
#div_block-162-20 {display: block;width: 100%;margin-bottom: 20px;}
#div_block-379-20 {width: 100%;z-index: -1;}
@media (max-width:1200px) {#div_block-347-20 {margin-left: -8%;width: 50%;}}
@media (max-width:1200px) {#div_block-384-20 {margin-left: -8%;width: 50%;}}
@media (max-width:991px) {#div_block-347-20 {margin-left: 0%;width: 50%;}}
@media (max-width:991px) {#div_block-384-20 {margin-left: 0%;width: 50%;}}
@media (max-width:991px) {#div_block-129-20 {padding-top: 0px;}}
@media (max-width:767px) {#div_block-374-20 {display: none;}}
@media (max-width:767px) {#div_block-347-20 {width: 30%;shape-outside: url("https://techopsph.github.io/urc-ar-2024/wp-content/uploads/2025/07/01-URC_Chairman_Lance_Gokongwei-1.png");shape-margin: 5rem;}}
@media (max-width:767px) {#div_block-383-20 {display: block;}}
@media (max-width:767px) {#div_block-384-20 {width: 60%;margin-left: -9%;shape-outside: url("https://techopsph.github.io/urc-ar-2024/wp-content/uploads/2025/07/01-URC_Chairman_Lance_Gokongwei-1.png");shape-margin: 5rem;}}
@media (max-width:991px) {#new_columns-125-20> .ct-div-block {width: 100% !important;}}
#new_columns-125-20 {max-width: 1200px;margin-left: auto;margin-right: auto;}
#headline-325-20 {display: block;}
#headline-387-20 {padding-left: 20px;display: block;}
#headline-55-20 {font-family: Arial,Helvetica,sans-serif;display: block;}
#headline-56-20 {font-family: Arial,Helvetica,sans-serif;display: block;font-size: .8rem;}
@media (max-width:1200px) {#headline-55-20 {display: block;}}
@media (max-width:991px) {#headline-325-20 {display: inline-block;}}
@media (max-width:991px) {#headline-387-20 {padding-left: 0px;}}
@media (max-width:767px) {#headline-387-20 {margin-left: 0px;}}
#text_block-329-20 {z-index: 2;float: none;}
#text_block-393-20 {z-index: 2;float: none;}
#text_block-140-20 {float: none;display: block;}
#image-307-20 {width: 100%;margin-bottom: -5%;margin-top: 4rem;}
#image-348-20 {width: 150%;position: absolute;right: 3rem;z-index: -1;top: 0%;margin-top: -25%;}
#image-323-20 {display: block;float: left;margin-right: 10rem;margin-top: 5%;margin-left: -10%;width: 120%;shape-outside: url("https://techopsph.github.io/urc-ar-2024/wp-content/uploads/2025/07/01-URC_Chairman_Lance_Gokongwei-1.png");shape-margin: 4rem;}
#image-385-20 {width: 150%;position: absolute;right: 3rem;z-index: -1;top: 0%;margin-top: -25%;}
#image-386-20 {width: 100%;display: block;float: left;margin-right: 10rem;shape-outside: url("https://techopsph.github.io/urc-ar-2024/wp-content/uploads/2025/07/01-URC_Chairman_Lance_Gokongwei-1.png");shape-margin: 3rem;}
#image-380-20 {width: 110%;margin-top: -15%;margin-right: -10%;margin-left: auto;}
@media (max-width:1200px) {#image-380-20 {width: 95%;margin-top: -15%;}}
@media (max-width:991px) {#image-323-20 {margin-left: -30%;shape-outside: url("https://techopsph.github.io/urc-ar-2024/wp-content/uploads/2025/07/01-URC_Chairman_Lance_Gokongwei-1.png");shape-margin: 3.5rem;}}
@media (max-width:991px) {#image-386-20 {padding-top: 10%;shape-outside: url("/wp-content/uploads/2025/07/01-URC_Chairman_Lance_Gokongwei-1.png");shape-margin: 2rem;}}
@media (max-width:767px) {#image-307-20 {width: 75%;margin-top: auto;}}
@media (max-width:767px) {#image-323-20 {width: 48%;}}
@media (max-width:767px) {#image-386-20 {margin-right: 3rem;margin-left: -10%;margin-bottom: 2rem;shape-outside: url("/wp-content/uploads/2025/07/01-URC_Chairman_Lance_Gokongwei-1.png");shape-margin: 6rem;}}