#section-566-22 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: flex;flex-direction: row;align-items: stretch;justify-content: space-between;}
#section-566-22 {display: block;}
#section-566-22 {background-color: #db4d42;overflow: hidden;}
#section-119-22 > .ct-section-inner-wrap {padding-bottom: 0;}
#section-119-22 {background-size: auto auto;position: relative;background-repeat: no-repeat;background-position: 0px 0%;}
#section-620-22 > .ct-section-inner-wrap {padding-bottom: 0;display: none;}
#section-620-22 {display: none;}
#section-620-22 {background-size: auto auto;position: relative;background-repeat: no-repeat;background-position: 0px 0%;}
#section-211-22 > .ct-section-inner-wrap {padding-bottom: 0;}
#section-653-22 > .ct-section-inner-wrap {padding-bottom: 0;display: none;}
#section-653-22 {display: none;}
#section-436-22 {background-color: #eb3d3b;}
#section-491-22 > .ct-section-inner-wrap {padding-bottom: 0;}
#section-688-22 > .ct-section-inner-wrap {padding-bottom: 0;display: none;}
#section-688-22 {display: none;}
#section-520-22 > .ct-section-inner-wrap {padding-bottom: 0;}
#section-709-22 > .ct-section-inner-wrap {padding-bottom: 0;display: none;}
#section-709-22 {display: none;}
#section-529-22 > .ct-section-inner-wrap {padding-bottom: 0;}
#section-769-22 > .ct-section-inner-wrap {padding-bottom: 0;display: none;}
#section-769-22 {display: none;}
@media (max-width:991px) {#section-119-22 > .ct-section-inner-wrap {display: none;}
	#section-119-22 {display: none;}}
@media (max-width:991px) {#section-620-22 > .ct-section-inner-wrap {padding-top: 4rem;padding-bottom: 4rem;display: block;}
	#section-620-22 {display: block;}}
@media (max-width:991px) {#section-211-22 > .ct-section-inner-wrap {display: none;}
	#section-211-22 {display: none;}}
@media (max-width:991px) {#section-653-22 > .ct-section-inner-wrap {padding-top: 4rem;padding-bottom: 4rem;display: block;}
	#section-653-22 {display: block;}}
@media (max-width:991px) {#section-449-22 > .ct-section-inner-wrap {padding-top: 3rem;padding-bottom: 3rem;}}
@media (max-width:991px) {#section-478-22 > .ct-section-inner-wrap {padding-top: 3rem;padding-bottom: 3rem;}}
@media (max-width:991px) {#section-491-22 > .ct-section-inner-wrap {display: none;}
	#section-491-22 {display: none;}}
@media (max-width:991px) {#section-688-22 > .ct-section-inner-wrap {padding-top: 3rem;padding-bottom: 0;display: block;}
	#section-688-22 {display: block;}}
@media (max-width:991px) {#section-520-22 > .ct-section-inner-wrap {display: none;}
	#section-520-22 {display: none;}}
@media (max-width:991px) {#section-709-22 > .ct-section-inner-wrap {padding-top: 0;display: block;}
	#section-709-22 {display: block;}}
@media (max-width:991px) {#section-529-22 > .ct-section-inner-wrap {display: none;}
	#section-529-22 {display: none;}}
@media (max-width:991px) {#section-769-22 > .ct-section-inner-wrap {padding-top: 3rem;padding-bottom: 3rem;display: block;}
	#section-769-22 {display: block;}}
@media (max-width:479px) {#section-449-22 > .ct-section-inner-wrap {padding-top: 24rem;}}
#div_block-567-22 {min-width: 40%;max-width: 40%;padding-top: 5rem;padding-bottom: 5rem;justify-content: center;}
#div_block-569-22 {min-width: 60%;max-width: 60%;min-height: 100%;text-align: left;align-items: center;}
#div_block-427-22 {width: 100%;}
#div_block-430-22 {background-image: url("https://dev-urc-ar-2024.sites.techops.ph/annualreport2024/wp-content/uploads/2025/07/president-ceo_background.png");background-size: auto 100%;width: 28%;background-repeat: no-repeat;padding-bottom: 0px;background-position: 100% 100px;}
#div_block-619-22 {width: 100%;}
#div_block-431-22 {width: 72%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
#div_block-251-22 {width: 46%;padding-bottom: 0px;}
#div_block-252-22 {width: 54%;padding-bottom: 0px;}
#div_block-677-22 {width: 100%;flex-direction: row;display: flex;justify-content: space-between;}
#div_block-350-22 {width: 50%;padding-bottom: 0px;display: block;}
#div_block-683-22 {width: 100%;margin-left: 50%;display: block;position: relative;z-index: 2;}
#div_block-351-22 {width: 50%;padding-bottom: 0px;display: block;}
#div_block-685-22 {width: 100%;display: block;position: relative;margin-left: -50%;}
#div_block-438-22 {width: 60%;}
#div_block-440-22 {width: 100%;display: flex;margin-bottom: 2rem;flex-direction: row;}
#div_block-439-22 {width: 40%;}
#div_block-451-22 {width: 35%;text-align: left;align-items: center;}
#div_block-464-22 {width: 65%;text-align: left;align-items: center;}
#div_block-480-22 {width: 60%;text-align: left;align-items: center;}
#div_block-484-22 {width: 40%;text-align: left;align-items: center;}
#div_block-839-22 {width: 100%;}
#div_block-836-22 {width: 25%;padding-top: 5px;padding-bottom: 0px;}
#div_block-837-22 {width: 40%;padding-bottom: 0px;padding-top: 5px;margin-left: 0px;text-align: left;align-items: center;}
#div_block-838-22 {width: 35%;padding-bottom: 0px;padding-top: 5px;}
#div_block-493-22 {width: 20%;padding-bottom: 0px;}
#div_block-516-22 {width: 35%;padding-bottom: 0px;}
#div_block-496-22 {width: 45%;padding-bottom: 0px;display: block;}
#div_block-726-22 {width: 100%;text-align: left;flex-direction: row;display: flex;}
#div_block-728-22 {width: 50%;display: block;}
#div_block-723-22 {display: block;}
#div_block-741-22 {display: block;padding-top: 0px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}
#div_block-729-22 {width: 50%;display: block;}
#div_block-722-22 {display: block;}
#div_block-737-22 {padding-top: 0px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;width: 100%;display: block;}
#div_block-782-22 {width: 100%;display: block;}
#div_block-788-22 {width: 100%;display: block;}
#div_block-800-22 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
#div_block-789-22 {width: 70%;display: block;}
#div_block-787-22 {width: 100%;display: block;}
#div_block-804-22 {width: 100%;display: block;}
#div_block-809-22 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;display: block;}
@media (max-width:1200px) {#div_block-430-22 {width: 35%;}}
@media (max-width:1200px) {#div_block-431-22 {width: 65%;}}
@media (max-width:1200px) {#div_block-516-22 {width: 30%;}}
@media (max-width:1200px) {#div_block-496-22 {width: 50%;}}
@media (max-width:991px) {#div_block-623-22 {display: block;}}
@media (max-width:991px) {#div_block-650-22 {display: block;position: relative;}}
@media (max-width:991px) {#div_block-655-22 {display: block;}}
@media (max-width:991px) {#div_block-699-22 {display: block;padding-top: 20px;padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-742-22 {display: block;}}
@media (max-width:991px) {#div_block-829-22 {display: flex;align-items: flex-end;}}
@media (max-width:991px) {#div_block-827-22 {display: inline-block;}}
@media (max-width:479px) {#div_block-569-22 {justify-content: center;}}
@media (max-width:479px) {#div_block-440-22 {flex-direction: column;display: flex;}}
@media (max-width:991px) {#new_columns-429-22> .ct-div-block {width: 100% !important;}
	#new_columns-429-22 {flex-direction: column;}}
@media (max-width:991px) {#new_columns-249-22> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-437-22> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-450-22> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-479-22> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-835-22> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-492-22> .ct-div-block {width: 100% !important;}}
#headline-9-22 {color: #db4d42;padding-left: 10px;padding-right: 10px;}
#headline-624-22 {color: #db4d42;padding-left: 10px;padding-right: 10px;}
#headline-32-22 {font-weight: 700;}
#headline-656-22 {font-weight: 700;}
#headline-442-22 {text-wrap: nowrap;}
#headline-454-22 {display: none;text-wrap: nowrap;}
#headline-469-22 {display: none;text-wrap: nowrap;}
#headline-481-22 {display: none;text-wrap: nowrap;}
#headline-485-22 {display: none;text-wrap: nowrap;}
#headline-494-22 {font-weight: 700;}
#headline-514-22 {font-weight: 500;font-size: 1.25rem;letter-spacing: 0px;}
#headline-689-22 {font-weight: 700;}
#headline-694-22 {font-weight: 500;font-size: 1.25rem;letter-spacing: 0px;}
#headline-532-22 {font-weight: 700;}
#headline-562-22 {font-family: Arial,Helvetica,sans-serif;display: block;color: #db4d42;font-size: 1.25rem;font-weight: 600;}
#headline-560-22 {font-family: Arial,Helvetica,sans-serif;display: block;font-size: 1rem;color: #db4d42;font-weight: 500;letter-spacing: .5px;}
#headline-770-22 {font-weight: 700;}
#headline-778-22 {font-family: Arial,Helvetica,sans-serif;display: block;color: #db4d42;font-size: 1.25rem;font-weight: 600;}
#headline-779-22 {font-family: Arial,Helvetica,sans-serif;display: block;font-size: 1rem;color: #db4d42;font-weight: 500;letter-spacing: .5px;}
@media (max-width:1200px) {#headline-9-22 {margin-left: auto;}}
@media (max-width:1200px) {#headline-624-22 {margin-left: auto;}}
@media (max-width:1200px) {#headline-562-22 {display: block;}}
@media (max-width:1200px) {#headline-778-22 {display: block;}}
@media (max-width:991px) {#headline-624-22 {padding-left: 0px;}}
@media (max-width:479px) {#headline-454-22 {display: none;}}
#text_block-12-22 {margin-top: 0px;}
#text_block-13-22 {margin-top: 0px;}
#text_block-242-22 {margin-right: auto;}
#text_block-459-22 {display: none;}
#text_block-470-22 {display: none;}
#text_block-486-22 {display: none;}
#text_block-841-22 {font-size: 14px;}
#text_block-842-22 {font-size: 14px;}
#text_block-844-22 {font-size: 14px;}
#text_block-495-22 {font-size: 1.45rem;letter-spacing: 0px;line-height: 1.2;}
#text_block-692-22 {font-size: 1.45rem;letter-spacing: 0px;line-height: 1.2;}
#text_block-524-22 {margin-top: 0px;}
#text_block-802-22 {font-family: "Plus Jakarta Sans";font-size: 4.25rem;font-weight: 700;margin-top: 2rem;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;line-height: .1;}
#text_block-803-22:before {display: none;content: "";}
#text_block-811-22 {font-family: "Plus Jakarta Sans";font-size: 4.25rem;font-weight: 700;margin-top: 2rem;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;line-height: .1;}
#text_block-812-22:before {display: none;content: "";}
@media (max-width:991px) {#text_block-646-22 {margin-bottom: 3rem;}}
#image-570-22 {width: 100%;margin-bottom: -20%;margin-top: 1.5rem;}
#image-563-22 {width: 150%;margin-top: 6rem;margin-left: -50%;}
#image-617-22 {width: 100%;display: block;float: right;margin-left: 3rem;margin-bottom: 0rem;shape-outside: url("/wp-content/uploads/2025/07/president-ceo-3b.png");shape-margin: 3rem;}
#image-616-22 {width: 30%;float: left;display: block;position: absolute;left: 35%;shape-margin: 3rem;shape-outside: url("/wp-content/uploads/2025/07/president-ceo-3a.png");}
#image-686-22 {width: 100%;display: block;float: left;margin-right: 3rem;margin-bottom: 0rem;shape-outside: url("/wp-content/uploads/2025/07/president-ceo-3b.png");shape-margin: 3rem;}
#image-615-22 {width: 30%;display: block;float: right;position: relative;margin-right: -15%;margin-top: 100%;shape-margin: 3rem;shape-outside: url("/wp-content/uploads/2025/07/president-ceo-3c.png");}
#image-658-22 {width: 100%;}
#image-662-22 {width: 100%;}
#image-446-22 {width: 100%;}
#image-447-22 {width: 100%;margin-top: 0px;}
#image-455-22 {width: 100%;}
#image-471-22 {width: 100%;}
#image-487-22 {width: 100%;}
#image-483-22 {width: 100%;}
#image-605-22 {width: 100%;display: block;float: right;margin-right: -50%;shape-outside: url("/wp-content/uploads/2025/07/president-ceo_other-updates.png");shape-margin: 3rem;}
#image-697-22 {width: 100%;display: block;float: right;margin-right: -50%;shape-outside: url("/wp-content/uploads/2025/07/president-ceo_other-updates.png");shape-margin: 3rem;}
#image-724-22 {display: block;float: right;width: 100%;margin-right: -50%;margin-left: 3rem;shape-outside: url("/wp-content/uploads/2025/08/ceo-other-updates-cropped.png");shape-margin: 3rem;}
#image-720-22 {display: block;float: left;width: 100%;margin-left: -50%;margin-right: 3rem;shape-outside: url("/wp-content/uploads/2025/08/ceo-other-updates-cropped.png");shape-margin: 3rem;}
#image-715-22 {width: 100%;margin-bottom: 3rem;display: block;float: right;margin-right: 3rem;shape-outside: url("/wp-content/uploads/2025/07/president-ceo_sariaya-flour-mill-wheat.png");shape-margin: 3rem;}
#image-614-22 {width: 80%;display: block;float: right;margin-right: -20%;margin-left: 3rem;shape-margin: 3rem;shape-outside: url("/wp-content/uploads/2025/08/ceo-swiss-miss-bg-cropped-1.png");}
#image-781-22 {width: 100%;shape-outside: url("/wp-content/uploads/2025/07/president-ceo_swiss-miss.png");shape-margin: 3rem;}
#image-780-22 {width: 100%;display: block;float: left;shape-outside: url("/wp-content/uploads/2025/07/president-ceo_swiss-miss-cup.png");shape-margin: 3rem;}
@media (max-width:1200px) {#image-563-22 {width: 140%;margin-left: -40%;}}
@media (max-width:1200px) {#image-605-22 {margin-right: -30%;}}
@media (max-width:1200px) {#image-697-22 {margin-right: -30%;}}
@media (max-width:991px) {#image-626-22 {background-image: url("https://dev-urc-ar-2024.sites.techops.ph/annualreport2024/wp-content/uploads/2025/07/01-URC_FRONT_WEB5b-scaled.png");background-size: cover;width: 40%;display: block;float: right;margin-right: 0rem;margin-top: 0rem;margin-left: 3rem;shape-outside: url("/wp-content/uploads/2025/07/02-URC_PRES-REPORT_WEB2b_compressed.png");shape-margin: 3rem;}}
@media (max-width:991px) {#image-658-22 {width: 30%;float: left;display: block;margin-top: 3rem;margin-bottom: 3rem;margin-right: 3rem;shape-margin: 3rem;shape-outside: url("/wp-content/uploads/2025/07/president-ceo-3a.png");}}
@media (max-width:991px) {#image-662-22 {width: 30%;display: block;float: right;margin-top: 3rem;margin-bottom: 3rem;margin-left: 3rem;shape-margin: 3rem;shape-outside: url("/wp-content/uploads/2025/07/president-ceo-3c.png");}}
@media (max-width:991px) {#image-697-22 {width: 50%;margin-right: 0%;}}
@media (max-width:991px) {#image-715-22 {width: 40%;float: left;}}
@media (max-width:991px) {#image-781-22 {display: block;float: right;width: 35%;margin-left: 3rem;}}
@media (max-width:991px) {#image-780-22 {display: block;float: left;width: 35%;margin-right: 3rem;margin-top: 5rem;}}
@media (max-width:767px) {#image-570-22 {width: 75%;margin-top: auto;}}
@media (max-width:767px) {#image-626-22 {width: 50%;}}
@media (max-width:479px) {#image-570-22 {margin-top: 1rem;}}
@media (max-width:479px) {#image-626-22 {width: 60%;margin-top: 10rem;}}
@media (max-width:479px) {#image-455-22 {width: 100%;}}
@media (max-width:479px) {#image-471-22 {width: 100%;}}