#section-554-24 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: flex;flex-direction: row;align-items: stretch;justify-content: space-between;}
#section-554-24 {display: block;}
#section-554-24 {background-color: #ffc500;overflow: hidden;}
#section-520-24 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-528-24 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-509-24 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-496-24 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-494-24 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-486-24 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#div_block-555-24 {min-width: 40%;max-width: 40%;padding-top: 5rem;padding-bottom: 5rem;justify-content: center;}
#div_block-557-24 {min-width: 60%;max-width: 60%;min-height: 100%;text-align: left;align-items: center;}
#div_block-522-24 {margin-right: 0px;width: 50%;}
#div_block-544-24 {width: 100%;}
#div_block-548-24 {width: 50%;}
#div_block-549-24 {width: 50%;}
#div_block-525-24 {width: 50%;text-align: right;align-items: flex-start;justify-content: center;}
#div_block-530-24 {margin-right: 0px;width: 95%;display: flex;flex-direction: column;}
#div_block-581-24 {width: 35%;}
#div_block-582-24 {width: 65%;justify-content: flex-end;}
#div_block-533-24 {width: 5%;}
#div_block-570-24 {text-align: left;flex-direction: row;display: flex;width: 100%;margin-bottom: 5%;}
#div_block-511-24 {width: 35%;margin-right: 0px;}
#div_block-515-24 {width: 65%;justify-content: flex-end;}
#div_block-563-24 {flex-direction: row;display: flex;align-items: flex-start;justify-content: space-between;width: 110%;margin-left: -5%;margin-bottom: -10%;z-index: 9;}
#div_block-489-24 {width: 40%;}
#div_block-492-24 {width: 60%;}
@media (max-width:991px) {#div_block-533-24 {display: none;}}
@media (max-width:479px) {#div_block-522-24 {padding-right: 0px;}}
@media (max-width:479px) {#div_block-582-24 {padding-left: 0px;padding-right: 0px;}}
@media (max-width:991px) {#new_columns-521-24> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-543-24> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-529-24> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-578-24> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-510-24> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-488-24> .ct-div-block {width: 100% !important;}}
#headline-523-24 {color: #db4d42;}
#headline-531-24 {color: #db4d42;font-size: 3.5rem;}
#headline-513-24 {color: #db4d42;}
#headline-491-24 {color: #db4d42;}
#text_block-532-24 {color: #db4d42;font-weight: 500;font-size: 1.25rem;}
#text_block-534-24 {margin-top: 0px;}
#text_block-512-24 {color: #db4d42;}
#text_block-490-24 {color: #db4d42;}
@media (max-width:479px) {#text_block-526-24 {font-size: 1.5rem;}}
@media (max-width:479px) {#text_block-552-24 {font-size: 1.5rem;}}
@media (max-width:479px) {#text_block-534-24 {font-size: 1.5rem;}}
@media (max-width:479px) {#text_block-514-24 {font-size: 1.5rem;}}
@media (max-width:479px) {#text_block-493-24 {font-size: 1.5rem;}}
#image-558-24 {width: 100%;margin-top: 3rem;margin-bottom: -2%;}
#image-527-24 {width: 120%;}
#image-568-24 {width: 30vw;margin-top: -5%;position: absolute;right: -10%;}
#image-565-24 {height: auto;z-index: 1;width: 10%;position: absolute;left: -2vw;}
#image-535-24 {width: 100%;height: auto;}
#image-560-24 {width: 100%;margin-top: 1rem;}
#image-516-24 {width: 110%;}
#image-497-24 {width: 100%;}
#image-495-24 {width: 100%;}
#image-487-24 {width: 100%;}
@media (max-width:1200px) {#image-565-24 {visibility: hidden;}}
@media (max-width:991px) {#image-527-24 {width: 100%;}}
@media (max-width:991px) {#image-568-24 {display: none;}}
@media (max-width:991px) {#image-565-24 {display: none;}}
@media (max-width:767px) {#image-558-24 {width: 75%;margin-top: auto;}}