.oxy-dynamic-list :is([data-id="div_block-3-241"], #incspec) {text-align: left;flex-direction: row;display: flex;}
#_dynamic_list-2-241 {background-color: #fff;}
#_dynamic_list-2-241 .oxy-repeater-pages {font-size: 12px;}