#div_block-153-243 {width: 10%;}
#div_block-156-243 {width: 25%;}
#div_block-159-243 {width: 30%;}
#div_block-161-243 {width: 35%;}
.oxy-dynamic-list :is([data-id="div_block-266-243"], #incspec) {text-align: left;flex-direction: row;display: flex;}
.oxy-dynamic-list :is([data-id="div_block-268-243"], #incspec) {width: 20%;border-right-color: #bf6b99;border-right-width: 2px;border-right-style: solid;}
.oxy-dynamic-list :is([data-id="div_block-271-243"], #incspec) {width: 7.41%;}
.oxy-dynamic-list :is([data-id="div_block-274-243"], #incspec) {width: 18.52%;}
.oxy-dynamic-list :is([data-id="div_block-276-243"], #incspec) {width: 22.22%;}
.oxy-dynamic-list :is([data-id="div_block-314-243"], #incspec) {width: 31.85%;}
#div_block-410-243 {width: 100%;align-items: stretch;align-content: space-around;flex-wrap: nowrap;justify-content: space-between;clear: both;position: relative;display: block;min-height: 50vw;overflow: hidden;}
#div_block-497-243 {display: block;}
#div_block-510-243 {usecustomtag: true;}
#new_columns-152-243 {background-color: #bf6b99;}
.oxy-dynamic-list :is([data-id="new_columns-267-243"], #incspec) {border-bottom-color: #bf6b99;border-bottom-width: 2px;border-bottom-style: solid;}
#text_block-488-243 {display: inline-block;}
#_dynamic_list-265-243 {background-color: #fff;}
#_dynamic_list-265-243 .oxy-repeater-pages {font-size: 12px;}