#section-245-26 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: flex;flex-direction: row;align-items: stretch;justify-content: space-between;}
#section-245-26 {display: block;}
#section-245-26 {overflow: hidden;background-color: #f47721;}
#section-227-26 > .ct-section-inner-wrap {padding-bottom: 75px;}
#section-251-26 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: block;}
#section-251-26 {display: block;}
#section-251-26 {float: none;clear: both;overflow: hidden;}
#section-523-26 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: none;}
#section-523-26 {display: none;}
#section-523-26 {float: none;clear: both;overflow: hidden;}
#section-413-26 {overflow: hidden;}
#section-261-26 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: block;}
#section-261-26 {display: block;}
@media (max-width:991px) {#section-227-26 > .ct-section-inner-wrap {padding-top: 3rem;padding-bottom: 0;}}
@media (max-width:991px) {#section-413-26 > .ct-section-inner-wrap {padding-top: 20px;padding-bottom: 0;}}
@media (max-width:991px) {#section-261-26 > .ct-section-inner-wrap {padding-top: 0;}}
@media (max-width:767px) {#section-227-26 > .ct-section-inner-wrap {padding-top: 3rem;padding-bottom: 0;}}
@media (max-width:767px) {#section-251-26 > .ct-section-inner-wrap {display: none;}
	#section-251-26 {display: none;}}
@media (max-width:767px) {#section-523-26 > .ct-section-inner-wrap {padding-right: 20px;padding-left: 20px;display: block;}
	#section-523-26 {display: block;}}
@media (max-width:767px) {#section-413-26 > .ct-section-inner-wrap {padding-top: 19px;}}
#div_block-246-26 {min-width: 40%;max-width: 40%;padding-top: 5rem;padding-bottom: 5rem;justify-content: center;}
#div_block-248-26 {min-width: 60%;max-width: 60%;min-height: 100%;text-align: left;align-items: center;}
#div_block-277-26 {justify-content: space-between;width: 20%;padding-bottom: 0px;flex-direction: column;display: flex;text-align: left;}
#div_block-278-26 {width: 60%;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;}
#div_block-284-26 {width: 100%;}
#div_block-282-26 {width: 50%;}
#div_block-283-26 {width: 50%;}
#div_block-279-26 {width: 20%;display: flex;flex-direction: column;justify-content: center;}
#div_block-306-26 {margin-top: -40px;width: 150%;}
#div_block-308-26 {position: relative;display: block;width: 100%;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;margin-left: 0px;float: left;}
#div_block-343-26 {position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;}
#div_block-344-26 {display: flex;width: 100%;height: 100%;}
#div_block-405-26 {margin-top: -1%;width: 12%;z-index: 1;position: absolute;left: 50%;}
#div_block-336-26 {position: absolute;text-align: left;flex-direction: row;display: flex;align-items: flex-end;width: 71%;bottom: 0%;left: 0px;z-index: 1;}
#div_block-341-26 {display: block;position: relative;width: 100%;}
#div_block-357-26 {display: block;z-index: 5;width: 100%;}
#div_block-543-26 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
#div_block-524-26 {position: relative;display: block;width: 100%;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;margin-left: 0px;float: left;}
#div_block-526-26 {position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;}
#div_block-527-26 {display: flex;width: 100%;height: 100%;}
#div_block-528-26 {margin-top: -1%;width: 12%;z-index: 1;position: absolute;left: 50%;}
#div_block-534-26 {display: block;position: relative;width: 100%;}
#div_block-535-26 {display: block;z-index: 5;width: 100%;}
#div_block-536-26 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
#div_block-530-26 {position: absolute;text-align: left;flex-direction: row;display: flex;align-items: flex-end;width: 71%;bottom: 0%;left: 0px;z-index: 1;}
#div_block-438-26 {width: 100%;display: block;float: left;clear: left;}
#div_block-416-26 {justify-content: space-between;width: 25%;padding-bottom: 0px;flex-direction: column;display: flex;text-align: left;}
#div_block-419-26 {width: 75%;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;}
#div_block-420-26 {width: 100%;}
#div_block-422-26 {width: 50%;}
#div_block-424-26 {width: 50%;display: block;}
#div_block-300-26 {width: 100%;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;margin-left: 0px;display: block;}
#div_block-550-26 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;display: none;}
#div_block-262-26 {text-align: left;display: flex;flex-direction: row;}
#div_block-468-26 {width: 100%;overflow: hidden;}
#div_block-501-26 {position: relative;width: 33%;shape-outside: url("/wp-content/uploads/2025/07/special-features_5b.png");shape-margin: 3rem;}
#div_block-446-26 {margin-right: 0px;margin-bottom: 0px;margin-left: 0px;margin-top: 0rem;display: block;}
@media (max-width:991px) {#div_block-277-26 {text-align: left;flex-direction: row;display: flex;padding-left: 0px;padding-right: 0px;}}
@media (max-width:991px) {#div_block-282-26 {padding-bottom: 0px;margin-bottom: 0px;padding-left: 0px;padding-right: 0px;display: block;}}
@media (max-width:991px) {#div_block-283-26 {padding-top: 0px;padding-left: 0px;padding-right: 0px;display: block;}}
@media (max-width:991px) {#div_block-279-26 {display: none;}}
@media (max-width:991px) {#div_block-306-26 {width: 50%;margin-left: auto;}}
@media (max-width:991px) {#div_block-343-26 {width: 80%;}}
@media (max-width:991px) {#div_block-526-26 {width: 80%;}}
@media (max-width:991px) {#div_block-416-26 {padding-left: 0px;padding-right: 0px;display: block;}}
@media (max-width:991px) {#div_block-422-26 {padding-left: 0px;padding-right: 0px;padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-424-26 {padding-left: 0px;padding-right: 0px;padding-top: 0px;display: block;padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-550-26 {display: block;}}
@media (max-width:767px) {#div_block-530-26 {position: relative;width: 100%;}}
@media (max-width:767px) {#div_block-424-26 {padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-262-26 {padding-top: 0px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}}
@media (max-width:767px) {#div_block-501-26 {display: none;}}
@media (max-width:479px) {#div_block-262-26 {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}}
@media (max-width:479px) {#div_block-501-26 {display: none;}}
@media (max-width:991px) {#new_columns-276-26> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-281-26> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-415-26> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-421-26> .ct-div-block {width: 100% !important;}}
#text_block-231-26 {margin-top: 0px;width: auto;display: block;}
#text_block-232-26 {margin-top: 0px;}
#text_block-233-26 {margin-top: 0px;}
#text_block-472-26 {margin-left: 20px;margin-top: 2rem;display: none;}
#text_block-234-26 {margin-left: 20px;margin-top: 2rem;margin-bottom: 2rem;}
#text_block-544-26 {visibility: hidden;}
#text_block-545-26 {font-family: "Plus Jakarta Sans";font-size: 4.25rem;font-weight: 700;margin-top: 2rem;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;line-height: .1;}
#text_block-546-26:before {display: none;content: "";}
#text_block-537-26 {visibility: hidden;}
#text_block-538-26 {font-family: "Plus Jakarta Sans";font-size: 4.25rem;font-weight: 700;margin-top: 2rem;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;line-height: .1;}
#text_block-539-26:before {display: none;content: "";}
#text_block-423-26 {margin-top: 0px;}
#text_block-425-26 {margin-top: 0px;}
#text_block-551-26 {visibility: hidden;}
#text_block-552-26 {font-family: "Plus Jakarta Sans";font-size: 4.25rem;font-weight: 700;margin-top: 2rem;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;line-height: .1;}
#text_block-553-26:before {display: none;content: "";}
#text_block-426-26 {margin-left: 20px;margin-top: 2rem;}
#text_block-266-26 {margin-bottom: 3rem;margin-top: 1rem;}
#text_block-447-26 {visibility: hidden;margin-top: -4.25rem;}
#text_block-448-26 {font-family: "Plus Jakarta Sans";font-size: 4.25rem;font-weight: 700;margin-top: 2rem;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;line-height: .1;}
#text_block-449-26:before {display: none;content: "";}
#text_block-270-26 {margin-bottom: 2rem;}
@media (max-width:991px) {#text_block-231-26 {width: 100%;}}
@media (max-width:991px) {#text_block-233-26 {margin-top: 0px;}}
@media (max-width:991px) {#text_block-472-26 {display: block;margin-left: 0px;}}
@media (max-width:991px) {#text_block-234-26 {display: none;}}
@media (max-width:991px) {#text_block-426-26 {display: none;}}
#image-249-26 {width: 100%;margin-top: 4rem;margin-right: 4rem;margin-bottom: 4rem;margin-left: 4rem;}
#image-289-26 {width: 150%;margin-left: -50%;}
#image-474-26 {width: 150%;margin-left: -50%;display: none;}
#image-470-26 {width: 100%;display: none;}
#image-290-26 {width: 100%;}
#image-291-26 {width: 70%;margin-bottom: 0px;display: block;float: left;clear: left;margin-right: 3rem;shape-outside: url("/wp-content/uploads/2025/07/special-features_3a.png");clip-path: url("/wp-content/uploads/2025/07/special-features_3a.png");shape-margin: 4rem;}
#image-403-26 {margin-left: -50%;width: 100%;}
#image-293-26 {width: 35%;margin-bottom: -7%;}
#image-295-26 {bottom: 0%;left: 50%;width: 46%;z-index: 2;margin-left: -5%;margin-bottom: -5%;}
#image-296-26 {width: 30%;right: 0%;bottom: 0%;margin-bottom: -2%;margin-left: -5%;z-index: 1;}
#image-529-26 {margin-left: -50%;width: 100%;shape-outside: url("/wp-content/uploads/2025/07/special-features_3b.png");shape-margin: 3rem;}
#image-531-26 {width: 35%;margin-bottom: -7%;}
#image-532-26 {bottom: 0%;left: 50%;width: 46%;z-index: 2;margin-left: -5%;margin-bottom: -5%;}
#image-533-26 {width: 30%;right: 0%;bottom: 0%;margin-bottom: -2%;margin-left: -5%;z-index: 1;}
#image-418-26 {width: 85%;margin-left: -20%;display: block;margin-top: auto;}
#image-481-26 {width: 125%;margin-left: -40%;margin-bottom: -35%;display: none;margin-top: auto;}
#image-479-26 {top: -7%;left: -10%;width: 75%;display: none;}
#image-297-26 {width: 100%;display: none;float: right;clear: right;margin-right: -50%;shape-outside: url("/wp-content/uploads/2025/07/special-features_4d.png");shape-margin: 2rem;}
#image-302-26 {width: 43%;bottom: -15%;right: -5%;display: block;float: right;margin-right: -2rem;margin-top: -2rem;margin-left: 0rem;margin-bottom: 2rem;shape-margin: 3rem;shape-outside: url("/wp-content/uploads/2025/07/special-features_4c.png");}
#image-301-26 {top: -7%;left: -10%;width: 48%;display: none;float: left;margin-top: 9rem;shape-margin: 3rem;shape-outside: url("/wp-content/uploads/2025/07/special-features_4a.png");}
#image-477-26 {width: 75%;bottom: -15%;right: -5%;display: none;}
#image-487-26 {width: 75%;margin-top: 0rem;margin-right: 3rem;margin-bottom: 0rem;float: left;display: block;margin-left: -25%;shape-outside: url("/wp-content/uploads/2025/07/special-features_5b.png");shape-margin: 3rem;}
#image-489-26 {width: 10%;display: block;float: right;margin-top: 10%;shape-outside: url("/wp-content/uploads/2025/07/special-features_5a.png");shape-margin: 3rem;}
#image-490-26 {width: 10%;display: block;float: right;margin-top: 10%;shape-outside: url("/wp-content/uploads/2025/07/special-features_5c.png");shape-margin: 3rem;}
@media (max-width:1200px) {#image-479-26 {display: none;}}
@media (max-width:991px) {#image-289-26 {width: 30%;display: none;}}
@media (max-width:991px) {#image-474-26 {width: 15%;margin-left: 0%;margin-bottom: 0px;float: left;display: block;clear: left;shape-outside: url("/wp-content/uploads/2025/07/special-features_wheat.png");shape-margin: 2rem;}}
@media (max-width:991px) {#image-470-26 {display: block;float: right;clear: right;width: 25%;shape-outside: url("/wp-content/uploads/2025/07/special-features_wheat-flour.png");shape-margin: 2rem;}}
@media (max-width:991px) {#image-290-26 {display: none;}}
@media (max-width:991px) {#image-291-26 {width: 55%;margin-right: 3rem;}}
@media (max-width:991px) {#image-418-26 {width: 30%;margin-left: 0%;margin-bottom: 0%;display: none;shape-margin: 2rem;shape-outside: url("/wp-content/uploads/2025/07/special-features_4b-1.png");}}
@media (max-width:991px) {#image-481-26 {width: 19%;margin-left: 0%;margin-bottom: 2rem;display: block;float: left;clear: left;margin-right: 2rem;shape-margin: 2rem;shape-outside: url("/wp-content/uploads/2025/07/special-features_4b-1.png");}}
@media (max-width:991px) {#image-479-26 {display: none;float: right;clear: right;width: 21%;margin-left: 2rem;margin-bottom: 2rem;shape-margin: 2rem;shape-outside: url("/wp-content/uploads/2025/07/special-features_4a.png");}}
@media (max-width:991px) {#image-297-26 {margin-right: -30%;display: block;}}
@media (max-width:991px) {#image-302-26 {display: none;}}
@media (max-width:991px) {#image-301-26 {display: none;}}
@media (max-width:991px) {#image-477-26 {display: block;float: left;width: 20%;margin-left: 0rem;margin-top: 10rem;margin-right: 3rem;margin-bottom: 2rem;shape-margin: 2rem;shape-outside: url("/wp-content/uploads/2025/07/special-features_4c.png");}}
@media (max-width:767px) {#image-291-26 {display: none;}}
@media (max-width:767px) {#image-529-26 {width: 30%;display: block;float: left;margin-top: 3rem;margin-right: 3rem;margin-bottom: 3rem;margin-left: 0rem;}}
@media (max-width:767px) {#image-479-26 {display: block;}}
@media (max-width:767px) {#image-297-26 {display: none;}}
@media (max-width:767px) {#image-477-26 {width: 46%;margin-top: 0rem;}}