#section-17493-28 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: flex;flex-direction: row;align-items: stretch;justify-content: space-between;}
#section-17493-28 {display: block;}
#section-17493-28 {background-color: #c00000;overflow: hidden;}
#section-2-28 > .ct-section-inner-wrap {padding-top: 75px;padding-right: 0;padding-bottom: 0;padding-left: 0;display: flex;flex-direction: row;align-items: stretch;}
#section-2-28 {display: block;}
#section-2-28 {text-align: left;}
#section-20-28 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-54-28 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-68-28 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-68-28 {overflow: hidden;}
#section-99-28 > .ct-section-inner-wrap {padding-right: 0;padding-left: 0;}
#section-511-28 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-174-28 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-231-28 > .ct-section-inner-wrap {padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-19263-28 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-338-28 > .ct-section-inner-wrap {padding-top: 1rem;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-338-28 {overflow: hidden;}
#section-390-28 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 15px;padding-left: 0;}
#section-390-28 {z-index: 2;}
#section-22861-28 > .ct-section-inner-wrap {padding-bottom: 0;display: none;}
#section-22861-28 {display: none;}
#section-435-28 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 3rem;padding-left: 0;}
@media (max-width:991px) {#section-19263-28 > .ct-section-inner-wrap {padding-top: 0;padding-bottom: 0;}}
@media (max-width:991px) {#section-22861-28 > .ct-section-inner-wrap {display: none;}
	#section-22861-28 {display: none;}}
@media (max-width:991px) {#section-435-28 > .ct-section-inner-wrap {padding-top: 0;}}
#div_block-17494-28 {min-width: 40%;max-width: 40%;padding-top: 5rem;padding-bottom: 5rem;justify-content: center;}
#div_block-17496-28 {min-width: 60%;max-width: 60%;min-height: 100%;text-align: left;align-items: center;}
#div_block-10-28 {width: 20%;flex-direction: column;display: flex;justify-content: center;}
#div_block-17504-28 {width: 100%;}
#div_block-17501-28 {flex-direction: column;display: flex;text-align: left;width: 80%;}
#div_block-8-28 {width: 50%;}
#div_block-9-28 {width: 50%;}
#div_block-18351-28 {width: 100%;}
#div_block-22-28 {width: 33.33%;}
#div_block-25-28 {width: 33.33%;}
#div_block-22907-28 {usecustomtag: true;}
#div_block-27-28 {width: 33.34%;display: block;}
#div_block-18352-28 {width: 100%;flex-direction: row;display: flex;justify-content: space-between;align-items: flex-end;}
#div_block-8025-28 {padding-top: 75px;padding-bottom: 75px;}
#div_block-56-28 {width: 30%;display: block;}
#div_block-21960-28 {width: 100%;}
#div_block-57-28 {width: 70%;}
#div_block-3952-28 {width: 35%;}
#div_block-3954-28 {width: 65%;}
#div_block-3931-28 {width: 35%;}
#div_block-3934-28 {width: 65%;}
#div_block-3968-28 {width: 35%;}
#div_block-3970-28 {width: 65%;}
#div_block-3973-28 {width: 35%;}
#div_block-3975-28 {width: 65%;}
#div_block-3978-28 {width: 35%;}
#div_block-3980-28 {width: 65%;}
#div_block-3983-28 {width: 35%;}
#div_block-3985-28 {width: 65%;}
#div_block-3988-28 {width: 35%;}
#div_block-3990-28 {width: 65%;}
#div_block-3993-28 {width: 35%;}
#div_block-3995-28 {width: 65%;}
#div_block-4004-28 {width: 60%;}
#div_block-13260-28 {width: 100%;background-color: #fff;}
#div_block-4007-28 {width: 35%;}
#div_block-4009-28 {width: 65%;}
#div_block-4012-28 {width: 35%;}
#div_block-4014-28 {width: 65%;}
#div_block-4017-28 {width: 35%;}
#div_block-4019-28 {width: 65%;}
#div_block-4042-28 {width: 35%;}
#div_block-4044-28 {width: 65%;}
#div_block-70-28 {width: 40%;}
#div_block-101-28 {width: 45%;padding-bottom: 0px;}
#div_block-104-28 {width: 55%;}
#div_block-21982-28 {usecustomtag: true;}
#div_block-146-28 {width: 33.33%;}
#div_block-849-28 {usecustomtag: true;}
#div_block-149-28 {width: 33.33%;}
#div_block-2875-28 {usecustomtag: true;}
#div_block-155-28 {width: 33.34%;}
#div_block-179-28 {width: 35%;}
#div_block-176-28 {width: 65%;}
#div_block-22882-28 {text-align: left;flex-direction: row;display: flex;}
#div_block-14099-28 {width: 100%;}
#div_block-1089-28 {width: 20px;}
#div_block-1091-28 {width: 20px;}
#div_block-1093-28 {width: 20px;}
#div_block-1553-28 {width: 20%;}
#div_block-1094-28 {width: 20%;}
.oxy-dynamic-list :is([data-id="div_block-1557-28"], #incspec) {text-align: left;flex-direction: row;display: flex;}
.oxy-dynamic-list :is([data-id="div_block-1559-28"], #incspec) {width: 20%;}
.oxy-dynamic-list :is([data-id="div_block-1562-28"], #incspec) {width: 20%;}
.oxy-dynamic-list :is([data-id="div_block-1566-28"], #incspec) {width: 20%;}
.oxy-dynamic-list :is([data-id="div_block-1571-28"], #incspec) {width: 20%;}
.oxy-dynamic-list :is([data-id="div_block-1575-28"], #incspec) {width: 20%;}
#div_block-19214-28 {text-align: left;flex-direction: row;display: flex;align-items: center;}
#div_block-827-28 {width: auto;}
#div_block-10639-28 {padding-top: 2rem;padding-bottom: 2rem;}
#div_block-235-28 {width: 30%;text-align: left;align-items: flex-end;}
#div_block-836-28 {height: 100%;display: none;}
#div_block-10649-28 {height: 100%;display: block;}
#div_block-236-28 {width: 70%;}
#div_block-2211-28 {width: 20%;}
#div_block-2213-28 {width: 20%;}
#div_block-2215-28 {width: 20%;}
#div_block-2217-28 {width: 20%;}
#div_block-2219-28 {width: 20%;}
.oxy-dynamic-list :is([data-id="div_block-1766-28"], #incspec) {text-align: left;flex-direction: row;display: flex;}
.oxy-dynamic-list :is([data-id="div_block-1768-28"], #incspec) {width: 20%;}
.oxy-dynamic-list :is([data-id="div_block-1771-28"], #incspec) {display: flex;flex-direction: column;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-1775-28"], #incspec) {width: 20%;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-1780-28"], #incspec) {width: 20%;text-align: left;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-1784-28"], #incspec) {width: 20%;text-align: left;align-items: center;justify-content: center;}
#div_block-2234-28 {width: 30%;}
#div_block-258-28 {display: flex;flex-direction: row;flex-wrap: nowrap;}
#div_block-2235-28 {width: 70%;}
#div_block-2243-28 {width: 23%;}
#div_block-2245-28 {width: 20%;}
#div_block-2247-28 {width: 20%;}
#div_block-2249-28 {width: 20%;}
#div_block-2251-28 {width: 17%;}
.oxy-dynamic-list :is([data-id="div_block-2254-28"], #incspec) {text-align: left;flex-direction: row;display: flex;}
.oxy-dynamic-list :is([data-id="div_block-2256-28"], #incspec) {width: 23%;}
.oxy-dynamic-list :is([data-id="div_block-2259-28"], #incspec) {width: 20%;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-2262-28"], #incspec) {width: 20%;text-align: left;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-2266-28"], #incspec) {width: 20%;text-align: left;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-2270-28"], #incspec) {width: 17%;text-align: left;align-items: center;justify-content: center;}
#div_block-249-28 {width: 30%;}
#div_block-267-28 {display: block;}
#div_block-10654-28 {display: none;}
#div_block-252-28 {width: 70%;}
#div_block-2299-28 {width: 20%;}
#div_block-2301-28 {width: 20%;}
#div_block-2303-28 {width: 20%;}
#div_block-2305-28 {width: 20%;}
#div_block-2307-28 {width: 20%;}
.oxy-dynamic-list :is([data-id="div_block-2310-28"], #incspec) {text-align: left;flex-direction: row;display: flex;}
.oxy-dynamic-list :is([data-id="div_block-2312-28"], #incspec) {width: 20%;}
.oxy-dynamic-list :is([data-id="div_block-2315-28"], #incspec) {width: 20%;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-2318-28"], #incspec) {width: 20%;text-align: left;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-2322-28"], #incspec) {width: 20%;text-align: left;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-2326-28"], #incspec) {width: 20%;text-align: left;align-items: center;justify-content: center;}
#div_block-287-28 {width: 30%;}
#div_block-294-28 {width: 70%;text-align: left;flex-direction: row;display: flex;}
#div_block-2743-28 {width: 20%;}
#div_block-2745-28 {width: 20%;}
#div_block-2747-28 {width: 20%;}
#div_block-2749-28 {width: 20%;}
#div_block-2751-28 {width: 20%;}
.oxy-dynamic-list :is([data-id="div_block-2754-28"], #incspec) {text-align: left;flex-direction: row;display: flex;}
.oxy-dynamic-list :is([data-id="div_block-2756-28"], #incspec) {width: 20%;}
.oxy-dynamic-list :is([data-id="div_block-2759-28"], #incspec) {width: 20%;text-align: left;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-2762-28"], #incspec) {width: 20%;text-align: left;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-2766-28"], #incspec) {width: 20%;text-align: left;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-2770-28"], #incspec) {width: 20%;text-align: left;align-items: center;justify-content: center;}
#div_block-19265-28 {width: 100%;display: block;float: left;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}
#div_block-340-28 {width: 100%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;z-index: 2;}
#div_block-2860-28 {width: 100%;}
#div_block-11528-28 {width: 33.33%;}
#div_block-11532-28 {width: 33.33%;}
#div_block-21016-28 {width: 33.34%;}
#div_block-21018-28 {width: 100%;}
#div_block-21032-28 {width: 33.33%;text-align: left;align-items: flex-end;}
#div_block-21941-28 {margin-left: -15%;margin-top: 5%;}
#div_block-21033-28 {width: 33.33%;}
#div_block-21034-28 {width: 33.34%;}
#div_block-392-28 {width: 100%;align-items: flex-start;text-align: left;padding-left: 20px;padding-right: 20px;display: block;padding-top: 0px;padding-bottom: 0px;position: relative;}
#div_block-9738-28 {text-align: left;flex-direction: row;display: flex;width: 100%;align-items: flex-end;}
#div_block-417-28 {margin-bottom: 5rem;width: 60%;}
#div_block-4052-28 {width: 100%;margin-top: 0px;min-width: 500px;max-width: 1000px;background-color: #fff;}
#div_block-4055-28 {width: 35%;}
#div_block-4057-28 {width: 35%;text-align: left;align-items: center;}
#div_block-4094-28 {width: 30%;text-align: left;align-items: center;}
#div_block-4060-28 {width: 35%;}
#div_block-4062-28 {width: 35%;}
#div_block-4100-28 {width: 30%;}
#div_block-420-28 {margin-bottom: 0px;}
#div_block-4102-28 {width: 100%;margin-top: 0px;}
#div_block-4104-28 {width: 25%;}
#div_block-4106-28 {width: 25%;text-align: left;align-items: center;}
#div_block-4108-28 {width: 25%;text-align: left;align-items: center;}
#div_block-4132-28 {width: 25%;text-align: left;align-items: center;}
#div_block-4111-28 {width: 25%;}
#div_block-4113-28 {width: 25%;}
#div_block-4115-28 {width: 25%;}
#div_block-4134-28 {width: 25%;}
#div_block-4118-28 {width: 25%;}
#div_block-4120-28 {width: 25%;}
#div_block-4122-28 {width: 25%;}
#div_block-4136-28 {width: 25%;}
#div_block-4125-28 {width: 25%;}
#div_block-4127-28 {width: 25%;}
#div_block-4129-28 {width: 25%;}
#div_block-4138-28 {width: 25%;}
#div_block-22864-28 {width: 50%;padding-bottom: 0px;}
#div_block-22866-28 {width: 50%;padding-bottom: 0px;}
#div_block-9778-28 {width: 100%;margin-bottom: 3rem;}
#div_block-437-28 {width: 35%;}
#div_block-440-28 {width: 65%;padding-bottom: 0px;padding-right: 0px;}
#div_block-4827-28 {width: 35%;}
#div_block-4829-28 {width: 30%;text-align: left;align-items: center;}
#div_block-4831-28 {width: 35%;text-align: left;align-items: center;}
.oxy-dynamic-list :is([data-id="div_block-4163-28"], #incspec) {text-align: left;flex-direction: row;display: flex;}
.oxy-dynamic-list :is([data-id="div_block-4165-28"], #incspec) {width: 35%;}
.oxy-dynamic-list :is([data-id="div_block-4168-28"], #incspec) {width: 30%;justify-content: center;align-items: center;}
.oxy-dynamic-list :is([data-id="div_block-4171-28"], #incspec) {width: 35%;text-align: left;align-items: center;justify-content: center;}
#div_block-461-28 {width: 100%;padding-bottom: 3rem;padding-left: 20px;padding-right: 20px;}
#div_block-9774-28 {width: 80%;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;}
#div_block-9770-28 {width: 100%;}
#div_block-5107-28 {width: 25%;}
#div_block-5913-28 {width: 26.86%;text-align: left;align-items: center;}
#div_block-5109-28 {width: 22.22%;text-align: left;align-items: center;}
#div_block-5111-28 {width: 25.92%;text-align: left;align-items: center;}
.oxy-dynamic-list :is([data-id="div_block-4984-28"], #incspec) {display: flex;flex-direction: column;}
.oxy-dynamic-list :is([data-id="div_block-4986-28"], #incspec) {width: 25%;}
.oxy-dynamic-list :is([data-id="div_block-4989-28"], #incspec) {display: flex;width: 25%;text-align: center;}
.oxy-dynamic-list :is([data-id="div_block-5915-28"], #incspec) {display: flex;width: 25%;text-align: center;}
.oxy-dynamic-list :is([data-id="div_block-4992-28"], #incspec) {display: flex;width: 25%;text-align: center;}
#div_block-9775-28 {width: 20%;padding-bottom: 0px;position: relative;}
#div_block-9781-28 {width: 100%;padding-left: 20px;padding-right: 20px;margin-bottom: 3rem;}
#div_block-9762-28 {width: 85%;padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;}
#div_block-6841-28 {width: 100%;}
#div_block-7156-28 {width: 25%;}
#div_block-7158-28 {width: 26.86%;text-align: left;align-items: center;}
#div_block-7160-28 {width: 22.22%;text-align: left;align-items: center;}
#div_block-7162-28 {width: 25.92%;text-align: left;align-items: center;}
.oxy-dynamic-list :is([data-id="div_block-6870-28"], #incspec) {text-align: left;flex-direction: row;display: flex;}
.oxy-dynamic-list :is([data-id="div_block-6872-28"], #incspec) {width: 25%;}
.oxy-dynamic-list :is([data-id="div_block-6875-28"], #incspec) {width: 25%;text-align: center;}
.oxy-dynamic-list :is([data-id="div_block-6878-28"], #incspec) {width: 25%;text-align: left;align-items: center;justify-content: center;}
.oxy-dynamic-list :is([data-id="div_block-6881-28"], #incspec) {width: 25%;text-align: left;align-items: center;justify-content: center;}
#div_block-9763-28 {width: 15%;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;position: relative;display: flex;text-align: left;justify-content: flex-start;}
#div_block-9780-28 {position: absolute;left: 20px;height: 100%;margin-bottom: auto;}
#div_block-490-28 {width: 33%;padding-bottom: 0px;}
#div_block-21916-28 {width: 33%;padding-bottom: 0px;}
#div_block-491-28 {width: 34%;padding-bottom: 0px;position: relative;}
@media (max-width:1200px) {#div_block-10-28 {text-align: left;display: flex;}}
@media (max-width:1200px) {#div_block-17504-28 {width: 20%;justify-content: center;margin-top: auto;margin-bottom: auto;}}
@media (max-width:991px) {#div_block-8-28 {padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-9-28 {padding-top: 0px;padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-8025-28 {padding-top: 20px;padding-bottom: 20px;}}
@media (max-width:991px) {#div_block-70-28 {display: none;}}
@media (max-width:991px) {#div_block-146-28 {padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-149-28 {padding-top: 0px;padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-155-28 {padding-top: 0px;}}
@media (max-width:991px) {#div_block-179-28 {padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-836-28 {display: block;}}
@media (max-width:991px) {#div_block-10649-28 {display: none;}}
@media (max-width:991px) {#div_block-267-28 {display: none;}}
@media (max-width:991px) {#div_block-10654-28 {display: block;}}
@media (max-width:991px) {#div_block-294-28 {display: none;}}
@media (max-width:991px) {#div_block-2860-28 {display: block;}}
@media (max-width:991px) {#div_block-11528-28 {display: none;}}
@media (max-width:991px) {#div_block-11532-28 {display: block;}}
@media (max-width:991px) {#div_block-21016-28 {display: block;}}
@media (max-width:991px) {#div_block-21018-28 {display: block;}}
@media (max-width:991px) {#div_block-392-28 {padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-9738-28 {width: 100%;}}
@media (max-width:991px) {#div_block-417-28 {width: 100%;}}
@media (max-width:991px) {#div_block-4052-28 {width: 100%;}}
@media (max-width:991px) {#div_block-437-28 {flex-direction: row;display: flex;}}
@media (max-width:991px) {#div_block-9775-28 {display: none;}}
@media (max-width:991px) {#div_block-9763-28 {display: none;}}
@media (max-width:767px) {#div_block-22-28 {padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-25-28 {padding-bottom: 0px;}}
@media (max-width:767px) {#div_block-27-28 {padding-top: 0px;}}
@media (max-width:767px) {#div_block-4052-28 {width: 100%;}}
@media (max-width:479px) {#div_block-18352-28 {margin-left: 10px;margin-right: 10px;}}
@media (max-width:479px) {#div_block-21960-28 {width: 100%;margin-left: 5%;}}
@media (max-width:991px) {#new_columns-7-28> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-21-28> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-55-28> .ct-div-block {width: 100% !important;}}
#new_columns-3951-28 {background-color: #c00000;}
#new_columns-3967-28 {border-bottom-color: #47a9eb;border-bottom-width: 2px;border-bottom-style: solid;}
#new_columns-3972-28 {border-bottom-color: #47a9eb;border-bottom-width: 2px;border-bottom-style: solid;}
#new_columns-3977-28 {border-bottom-color: #47a9eb;border-bottom-width: 2px;border-bottom-style: solid;}
#new_columns-3982-28 {border-bottom-color: #47a9eb;border-bottom-width: 2px;border-bottom-style: solid;}
#new_columns-3987-28 {border-bottom-color: #47a9eb;border-bottom-width: 2px;border-bottom-style: solid;}
@media (max-width:991px) {#new_columns-69-28> .ct-div-block {width: 100% !important;}}
#new_columns-4006-28 {background-color: #c00000;}
@media (max-width:991px) {#new_columns-100-28> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-145-28> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-175-28> .ct-div-block {width: 100% !important;}}
#new_columns-1088-28 {background-color: #c00000;}
@media (max-width:991px) {#new_columns-234-28> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-2233-28> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-248-28> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-286-28> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-11527-28> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-21031-28> .ct-div-block {width: 100% !important;}}
#new_columns-4059-28 {min-width: 500px;max-width: 1000px;}
@media (max-width:991px) {#new_columns-22863-28> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-436-28> .ct-div-block {width: 100% !important;}}
#new_columns-436-28 {padding-top: 0px;}
@media (max-width:991px) {#new_columns-9773-28> .ct-div-block {width: 100% !important;}
	#new_columns-9773-28 {flex-direction: column;}}
@media (max-width:991px) {#new_columns-9761-28> .ct-div-block {width: 100% !important;}
	#new_columns-9761-28 {flex-direction: column;}}
@media (max-width:991px) {#new_columns-489-28> .ct-div-block {width: 100% !important;}}
#headline-29-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-33-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-37-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-116-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-120-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-21966-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-181-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-190-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-194-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-183-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-22884-28 {margin-left: .5rem;}
#headline-240-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-10650-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-250-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-256-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-10655-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-289-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-19266-28 {float: none;}
#headline-11535-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-21019-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-372-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-12404-28 {font-family: "Plus Jakarta Sans";font-weight: 500;visibility: hidden;}
#headline-414-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-421-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-22862-28 {font-weight: 700;}
#headline-22868-28 {font-family: Arial,Helvetica,sans-serif;display: block;color: #db4d42;font-size: 1.25rem;font-weight: 600;}
#headline-22869-28 {font-family: Arial,Helvetica,sans-serif;display: block;font-size: 1rem;color: #db4d42;font-weight: 500;letter-spacing: .5px;}
#headline-441-28 {font-family: Arial,Helvetica,sans-serif;}
#headline-466-28 {font-family: Arial,Helvetica,sans-serif;}
@media (max-width:1200px) {#headline-22868-28 {display: block;}}
#text_block-31-28 {margin-top: 0px;}
#text_block-35-28 {margin-top: 0px;}
#text_block-26-28 {margin-top: 0px;}
#text_block-18343-28 {usecustomtag: true;}
#text_block-22910-28 {usecustomtag: true;}
#text_block-22912-28 {usecustomtag: true;}
#text_block-48-28 {margin-top: 0px;}
#text_block-59-28 {margin-top: 0px;}
#text_block-4015-28 {width: 100%;margin-top: 0px;}
#text_block-4020-28 {width: 100%;margin-top: 0px;overflow-wrap: break-word;}
#text_block-4045-28 {width: 100%;margin-top: 0px;}
#text_block-85-28 {margin-top: 0px;}
#text_block-87-28 {margin-top: 0px;}
#text_block-103-28 {margin-top: 0px;}
#text_block-21963-28 {margin-top: 0px;}
#text_block-148-28 {usecustomtag: true;}
#text_block-162-28 {usecustomtag: true;}
#text_block-163-28 {usecustomtag: true;}
#text_block-164-28 {usecustomtag: true;}
#text_block-165-28 {usecustomtag: true;}
#text_block-150-28 {usecustomtag: true;}
#text_block-152-28 {usecustomtag: true;}
#text_block-154-28 {usecustomtag: true;}
#text_block-166-28 {usecustomtag: true;}
#text_block-167-28 {usecustomtag: true;}
#text_block-168-28 {usecustomtag: true;}
#text_block-169-28 {usecustomtag: true;}
#text_block-171-28 {usecustomtag: true;}
#text_block-173-28 {usecustomtag: true;}
#text_block-11531-28 {margin-top: 0px;display: none;}
#text_block-11540-28 {margin-top: 0px;}
#text_block-11536-28 {margin-top: 0px;}
#text_block-505-28 {z-index: 1;}
@media (max-width:991px) {#text_block-8009-28 {display: none;}}
@media (max-width:991px) {#text_block-11531-28 {display: block;}}
@media (max-width:991px) {#text_block-11540-28 {display: none;}}
@media (max-width:479px) {#text_block-4020-28 {overflow-wrap: break-word;}}
#span-13244-28 {width: 100%;}
#span-13249-28 {width: 100%;}
#span-13254-28 {width: 100%;}
#image-17497-28 {width: 33vw;}
#image-9790-28 {float: right;width: 100%;shape-outside: url("/wp-content/uploads/2024/07/NissinNoodlesRed-1.png");shape-margin: 2rem;}
#image-21958-28 {width: 40%;margin-top: -25%;}
#image-6789-28 {margin-right: 10%;margin-top: -2rem;width: 120px;margin-left: auto;}
#image-21959-28 {width: 100%;}
#image-22844-28 {width: 100%;}
#image-218-28 {width: 100%;height: auto;margin-top: auto;}
#image-22845-28 {width: 100%;}
#image-22846-28 {width: 100%;}
#image-22005-28 {width: 100%;}
#image-19215-28 {width: 30%;}
#image-6801-28 {float: right;margin-top: 100%;width: 50%;margin-left: auto;shape-outside: url("/wp-content/uploads/2024/07/ChizCurlzPieces.png");}
#image-22847-28 {width: 100%;}
#image-10657-28 {width: 30%;float: right;}
#image-22916-28 {width: 100%;}
#image-22917-28 {width: 100%;}
#image-19271-28 {float: left;width: 65%;margin-top: 23%;margin-left: -20%;shape-outside: url("https://techopsph.github.io/urc-ar-2024/wp-content/uploads/2025/06/06-URC_CORPGOV_11-scaled.png");shape-margin: 2rem;}
#image-21017-28 {width: 86%;margin-right: -5rem;margin-bottom: -2rem;display: none;margin-top: auto;margin-left: auto;}
#image-21940-28 {width: 100%;margin-top: auto;}
#image-21939-28 {width: 35%;margin-left: 5%;margin-top: -5%;z-index: -1;}
#image-460-28 {width: 100%;margin-top: auto;margin-left: auto;}
#image-6827-28 {bottom: 0px;left: 20px;width: 150%;margin-left: -10%;}
#image-6843-28 {margin-left: -5%;width: 200%;margin-top: 50%;}
@media (max-width:1200px) {#image-9790-28 {margin-left: 0%;}}
@media (max-width:1200px) {#image-19271-28 {margin-left: -15%;width: 65%;margin-top: 10%;float: left;}}
@media (max-width:991px) {#image-9790-28 {margin-right: 0%;margin-top: 0px;}}
@media (max-width:991px) {#image-6789-28 {width: 80px;margin-top: 2rem;margin-right: 5%;}}
@media (max-width:991px) {#image-218-28 {width: 25%;margin-top: -5rem;display: none;margin-left: auto;}}
@media (max-width:991px) {#image-6801-28 {margin-top: 0%;width: 30%;shape-outside: url("/wp-content/uploads/2024/07/ChizCurlzPieces.png");shape-margin: 2rem;}}
@media (max-width:991px) {#image-10657-28 {margin-right: -7%;}}
@media (max-width:991px) {#image-21017-28 {display: block;float: left;width: 31%;margin-right: 0rem;margin-bottom: -1rem;margin-left: 0rem;shape-outside: url("/wp-content/uploads/2024/07/CandiesTogether.png");shape-margin: 2rem;}}
@media (max-width:991px) {#image-460-28 {width: 180px;float: right;display: none;}}
@media (max-width:767px) {#image-6789-28 {width: 80px;margin-top: 2rem;margin-right: 5%;}}
@media (max-width:479px) {#image-21959-28 {width: 100%;}}
@media (max-width:479px) {#image-21017-28 {width: 39%;}}
#code_block-21014-28 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;unwrap: true;}
#code_block-21021-28 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;unwrap: true;}
#code_block-21042-28 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;unwrap: true;}
#code_block-21942-28 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;unwrap: true;}
#code_block-21052-28 {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;unwrap: true;}
#_dynamic_list-1556-28 {background-color: #fff;}
#_dynamic_list-1765-28 {background-color: #fff;}
#_dynamic_list-2253-28 {background-color: #fff;}
#_dynamic_list-2309-28 {background-color: #fff;}
#_dynamic_list-2753-28 {background-color: #fff;}
#_dynamic_list-4162-28 {background-color: #fff;}
#_dynamic_list-4983-28 {background-color: #fff;}
#_dynamic_list-6869-28 {background-color: #fff;}
@media (max-width:767px) {#_dynamic_list-1556-28 {width: 150%;}}
@media (max-width:767px) {#_dynamic_list-1765-28 {width: 150%;}}
@media (max-width:767px) {#_dynamic_list-2253-28 {width: 150%;}}
@media (max-width:767px) {#_dynamic_list-2309-28 {width: 150%;}}
@media (max-width:767px) {#_dynamic_list-2753-28 {width: 150%;}}
#_dynamic_list-1556-28 .oxy-repeater-pages {font-size: 12px;}
#_dynamic_list-1765-28 .oxy-repeater-pages {font-size: 12px;}
#_dynamic_list-2253-28 .oxy-repeater-pages {font-size: 12px;}
#_dynamic_list-2309-28 .oxy-repeater-pages {font-size: 12px;}
#_dynamic_list-2753-28 .oxy-repeater-pages {font-size: 12px;}
#_dynamic_list-4162-28 .oxy-repeater-pages {font-size: 12px;}
#_dynamic_list-4983-28 .oxy-repeater-pages {font-size: 12px;}
#_dynamic_list-6869-28 .oxy-repeater-pages {font-size: 12px;}