#section-613-30 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: flex;flex-direction: row;align-items: stretch;justify-content: space-between;}
#section-613-30 {display: block;}
#section-613-30 {background-color: #05abe8;}
#section-2-30 {position: relative;}
#div_block-617-30 {min-width: 40%;max-width: 40%;padding-top: 5rem;padding-bottom: 5rem;justify-content: center;}
#div_block-618-30 {min-width: 60%;max-width: 60%;min-height: 100%;text-align: left;align-items: center;}
#div_block-440-30 {text-align: left;align-items: center;}
#div_block-446-30 {text-align: left;align-items: center;}
#div_block-452-30 {align-items: center;}
#div_block-459-30 {text-align: left;align-items: center;}
#div_block-471-30 {text-align: left;align-items: center;}
#div_block-473-30 {text-align: left;align-items: center;}
#div_block-465-30 {text-align: left;align-items: center;}
#div_block-467-30 {text-align: left;align-items: center;}
#div_block-477-30 {text-align: left;align-items: center;}
#div_block-479-30 {text-align: left;align-items: center;}
#div_block-4-30 {width: 33.33%;}
#div_block-624-30 {z-index: -1;width: 100%;}
#div_block-5-30 {width: 33.33%;}
#div_block-6-30 {width: 33.34%;}
#div_block-60-30 {width: 33.33%;}
#div_block-71-30 {width: 33.33%;}
#div_block-82-30 {width: 33.34%;position: relative;}
#div_block-623-30 {width: 100%;position: relative;}
@media (max-width:991px) {#new_columns-3-30> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-59-30> .ct-div-block {width: 100% !important;}}
#headline-431-30 {color: #000;}
#headline-432-30 {color: #000;}
#headline-437-30 {color: #000;}
#headline-438-30 {color: #000;}
#headline-443-30 {color: #000;}
#headline-444-30 {color: #000;}
#headline-449-30 {color: #000;}
#headline-450-30 {color: #000;}
#headline-455-30 {color: #000;}
#headline-456-30 {color: #000;}
#headline-462-30 {color: #000;}
#headline-463-30 {color: #000;}
#headline-474-30 {color: #000;}
#headline-475-30 {color: #000;}
#headline-468-30 {color: #000;}
#headline-469-30 {color: #000;}
#headline-480-30 {color: #000;}
#headline-481-30 {color: #000;}
#image-616-30 {margin-top: -25%;width: 33vw;}
#image-619-30 {position: absolute;top: 0px;right: 0px;z-index: -1;width: 20%;margin-top: -2.5%;}
#image-612-30 {width: 100%;margin-top: auto;}
#image-210-30 {z-index: -1;bottom: 0px;right: 0px;width: 100%;}