#section-583-32 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: flex;flex-direction: row;align-items: stretch;justify-content: space-between;}
#section-583-32 {display: block;}
#section-583-32 {background-color: #0071ad;}
#section-2-32 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-58-32 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#div_block-584-32 {min-width: 40%;max-width: 40%;padding-top: 5rem;padding-bottom: 5rem;justify-content: center;}
#div_block-586-32 {min-width: 60%;max-width: 60%;min-height: 100%;text-align: left;align-items: center;}
#div_block-458-32 {width: 100%;height: 100%;}
#div_block-331-32 {padding-top: 5rem;padding-bottom: 5rem;}
#div_block-4-32 {width: 33%;}
#div_block-579-32 {margin-left: -25%;width: auto;}
#div_block-499-32 {width: 67%;}
#div_block-497-32 {width: 50%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
#div_block-498-32 {width: 50%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
#div_block-503-32 {width: 50%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
#div_block-504-32 {width: 50%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
#div_block-333-32 {padding-bottom: 5rem;padding-top: 4rem;}
#div_block-580-32 {text-align: left;flex-direction: row;display: flex;align-items: flex-end;margin-bottom: 20px;}
#div_block-576-32 {margin-bottom: 1rem;}
#div_block-582-32 {margin-top: -2.5%;}
#div_block-61-32 {width: 25%;}
#div_block-68-32 {width: 25%;display: block;}
#div_block-91-32 {width: 25%;}
#div_block-103-32 {width: 25%;display: block;}
@media (max-width:991px) {#div_block-331-32 {padding-bottom: 0rem;}}
@media (max-width:991px) {#div_block-4-32 {padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-333-32 {padding-bottom: 0rem;}}
@media (max-width:991px) {#div_block-61-32 {padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-68-32 {padding-top: 0px;padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-91-32 {padding-bottom: 0px;}}
@media (max-width:991px) {#div_block-103-32 {padding-bottom: 0px;padding-top: 0px;}}
@media (max-width:991px) {#new_columns-3-32> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-496-32> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-502-32> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-60-32> .ct-div-block {width: 100% !important;}}
#image-587-32 {width: 33vw;}
#image-488-32 {width: 120%;margin-top: auto;}
#image-581-32 {width: 75%;margin-left: auto;}