#section-2-34 {usecustomtag: false;}
@media (max-width:991px) {#section-2-34 > .ct-section-inner-wrap {padding-top: 40px;padding-bottom: 40px;}}
#div_block-4-34 {width: 50%;flex-direction: column;display: flex;text-align: left;justify-content: center;align-items: center;padding-top: 0px;}
#div_block-5-34 {width: 50%;flex-direction: column;display: flex;text-align: left;justify-content: center;padding-top: 0px;}
#div_block-48-34 {width: 50%;flex-direction: column;display: flex;text-align: left;justify-content: center;align-items: center;padding-top: 0px;}
#div_block-50-34 {width: 50%;flex-direction: column;display: flex;text-align: left;justify-content: center;padding-top: 0px;}
@media (max-width:991px) {#new_columns-3-34> .ct-div-block {width: 100% !important;}
	#new_columns-3-34 {flex-direction: column;}}
@media (max-width:991px) {#new_columns-47-34> .ct-div-block {width: 100% !important;}
	#new_columns-47-34 {flex-direction: column;}}
#link_text-28-34 {font-weight: 600;color: #db4d42;}
#text_block-55-34 {font-weight: 600;color: #db4d42;}