#section-3504-472 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: flex;flex-direction: row;align-items: stretch;justify-content: space-between;}
#section-3504-472 {display: block;}
#section-3504-472 {background-color: #639;overflow: hidden;}
#section-2-472 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-243-472 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-368-472 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 75px;padding-left: 0;}
#section-3684-472 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-711-472 > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-4046-472 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-4143-472 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-1573-472 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-5203-472 > .ct-section-inner-wrap {max-width: 80vw;padding-top: autoauto;padding-right: autoauto;padding-bottom: autoauto;padding-left: autoauto;}
#section-7486-472 > .ct-section-inner-wrap {max-width: 100vw;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-3020-472 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 75px;padding-left: 0;}
#section-3234-472 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
#section-3523-472 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;}
@media (max-width:991px) {#section-368-472 > .ct-section-inner-wrap {padding-bottom: 0;}}
@media (max-width:991px) {#section-5203-472 > .ct-section-inner-wrap {padding-top: 0;padding-bottom: 0;}}
#div_block-3505-472 {min-width: 40%;max-width: 40%;padding-top: 5rem;padding-bottom: 5rem;justify-content: center;}
#div_block-3507-472 {min-width: 60%;max-width: 60%;min-height: 100%;text-align: left;align-items: center;}
#div_block-57-472 {justify-content: flex-end;width: 40%;}
#div_block-3440-472 {display: flex;width: auto;height: 100%;flex-direction: column;justify-content: center;}
#div_block-78-472 {width: 60%;}
#div_block-81-472 {width: 100%;margin-top: 0px;}
#div_block-83-472 {width: 25%;}
#div_block-85-472 {width: 25%;display: flex;text-align: left;}
#div_block-87-472 {width: 25%;}
#div_block-89-472 {width: 25%;}
#div_block-92-472 {width: 25%;}
#div_block-96-472 {width: 25%;}
#div_block-98-472 {width: 25%;}
#div_block-118-472 {width: 25%;}
#div_block-105-472 {width: 25%;}
#div_block-107-472 {width: 25%;}
#div_block-122-472 {width: 25%;}
#div_block-114-472 {width: 25%;}
#div_block-116-472 {width: 25%;}
#div_block-128-472 {width: 25%;}
#div_block-131-472 {width: 25%;}
#div_block-133-472 {width: 25%;}
#div_block-136-472 {width: 25%;}
#div_block-139-472 {width: 25%;}
#div_block-141-472 {width: 25%;}
#div_block-144-472 {width: 25%;}
#div_block-147-472 {width: 25%;}
#div_block-149-472 {width: 25%;}
#div_block-152-472 {width: 25%;}
#div_block-155-472 {width: 25%;}
#div_block-157-472 {width: 25%;}
#div_block-167-472 {width: 100%;margin-top: 0px;}
#div_block-169-472 {width: 20%;}
#div_block-171-472 {width: 20%;}
#div_block-173-472 {width: 20%;}
#div_block-175-472 {width: 20%;}
#div_block-235-472 {width: 20%;}
#div_block-202-472 {width: 20%;justify-content: center;}
#div_block-204-472 {width: 20%;}
#div_block-206-472 {width: 20%;}
#div_block-208-472 {width: 20%;}
#div_block-237-472 {width: 20%;}
#div_block-245-472 {width: 40%;align-items: flex-end;}
#div_block-3442-472 {height: 100%;justify-content: center;width: auto;}
#div_block-249-472 {width: 60%;}
#div_block-251-472 {width: 100%;margin-top: 0px;}
#div_block-253-472 {width: 25%;}
#div_block-255-472 {width: 25%;}
#div_block-257-472 {width: 25%;}
#div_block-259-472 {width: 25%;}
#div_block-262-472 {width: 25%;}
#div_block-265-472 {width: 25%;}
#div_block-267-472 {width: 25%;}
#div_block-270-472 {width: 25%;justify-content: center;}
#div_block-273-472 {width: 25%;}
#div_block-275-472 {width: 25%;}
#div_block-278-472 {width: 25%;}
#div_block-281-472 {width: 25%;}
#div_block-283-472 {width: 25%;}
#div_block-286-472 {width: 25%;}
#div_block-290-472 {width: 25%;}
#div_block-292-472 {width: 25%;}
#div_block-320-472 {width: 100%;margin-top: 0px;}
#div_block-322-472 {width: 25%;}
#div_block-324-472 {width: 25%;}
#div_block-326-472 {width: 25%;}
#div_block-328-472 {width: 25%;}
#div_block-333-472 {justify-content: center;width: 25%;}
#div_block-335-472 {width: 25%;}
#div_block-337-472 {width: 25%;}
#div_block-339-472 {width: 25%;}
#div_block-349-472 {width: 25%;justify-content: center;}
#div_block-353-472 {width: 25%;}
#div_block-355-472 {width: 25%;}
#div_block-360-472 {width: 25%;justify-content: center;}
#div_block-364-472 {width: 25%;}
#div_block-366-472 {width: 25%;}
#div_block-494-472 {width: 50%;}
#div_block-507-472 {width: 100%;margin-top: 0px;}
#div_block-509-472 {width: 20%;}
#div_block-511-472 {width: 20%;}
#div_block-513-472 {width: 20%;}
#div_block-515-472 {width: 20%;}
#div_block-517-472 {width: 20%;}
#div_block-520-472 {width: 20%;justify-content: center;}
#div_block-522-472 {width: 20%;}
#div_block-524-472 {width: 20%;}
#div_block-526-472 {width: 20%;}
#div_block-528-472 {width: 20%;}
#div_block-10362-472 {width: 20%;justify-content: center;}
#div_block-10363-472 {width: 20%;}
#div_block-10365-472 {width: 20%;}
#div_block-10368-472 {width: 20%;}
#div_block-10371-472 {width: 20%;}
#div_block-601-472 {width: 20%;justify-content: center;}
#div_block-603-472 {width: 20%;}
#div_block-605-472 {width: 20%;}
#div_block-607-472 {width: 20%;}
#div_block-609-472 {width: 20%;}
#div_block-636-472 {width: 20%;justify-content: center;}
#div_block-637-472 {width: 20%;}
#div_block-639-472 {width: 20%;}
#div_block-641-472 {width: 20%;}
#div_block-643-472 {width: 20%;}
#div_block-10375-472 {width: 20%;justify-content: center;}
#div_block-10376-472 {width: 20%;}
#div_block-10378-472 {width: 20%;}
#div_block-10380-472 {width: 20%;}
#div_block-10382-472 {width: 20%;}
#div_block-10423-472 {width: 20%;justify-content: center;}
#div_block-10424-472 {width: 20%;}
#div_block-10426-472 {width: 20%;}
#div_block-10428-472 {width: 20%;}
#div_block-10430-472 {width: 20%;}
#div_block-495-472 {width: 50%;}
#water-consumption {width: 100%;margin-top: 0px;}
#div_block-532-472 {width: 20%;}
#div_block-534-472 {width: 20%;}
#div_block-536-472 {width: 20%;}
#div_block-538-472 {width: 20%;}
#div_block-540-472 {width: 20%;}
#div_block-543-472 {width: 20%;justify-content: center;}
#div_block-545-472 {width: 20%;}
#div_block-547-472 {width: 20%;}
#div_block-549-472 {width: 20%;}
#div_block-551-472 {width: 20%;}
#div_block-556-472 {width: 20%;justify-content: center;}
#div_block-558-472 {width: 20%;}
#div_block-560-472 {width: 20%;}
#div_block-562-472 {width: 20%;}
#div_block-564-472 {width: 20%;}
#div_block-567-472 {width: 20%;justify-content: center;}
#div_block-569-472 {width: 20%;}
#div_block-571-472 {width: 20%;}
#div_block-573-472 {width: 20%;}
#div_block-575-472 {width: 20%;}
#div_block-578-472 {width: 20%;justify-content: center;}
#div_block-580-472 {width: 20%;}
#div_block-582-472 {width: 20%;}
#div_block-584-472 {width: 20%;}
#div_block-586-472 {width: 20%;}
#div_block-697-472 {width: 20%;justify-content: center;}
#div_block-698-472 {width: 20%;}
#div_block-700-472 {width: 20%;}
#div_block-702-472 {width: 20%;}
#div_block-704-472 {width: 20%;}
#div_block-3686-472 {width: 30%;align-items: flex-end;}
#div_block-3687-472 {height: 100%;justify-content: center;width: auto;}
#div_block-7196-472 {width: 100%;}
#div_block-3690-472 {width: 70%;}
#div_block-10444-472 {width: 100%;margin-top: 0px;}
#div_block-10446-472 {width: 20%;}
#div_block-10448-472 {width: 20%;}
#div_block-10450-472 {width: 20%;}
#div_block-10452-472 {width: 20%;}
#div_block-10454-472 {width: 20%;}
#div_block-10457-472 {width: 20%;justify-content: center;}
#div_block-10458-472 {width: 20%;}
#div_block-10460-472 {width: 20%;}
#div_block-10462-472 {width: 20%;}
#div_block-10464-472 {width: 20%;}
#div_block-10467-472 {width: 20%;justify-content: center;}
#div_block-10468-472 {width: 20%;}
#div_block-10516-472 {usecustomtag: true;}
#div_block-10470-472 {width: 20%;}
#div_block-10472-472 {width: 20%;}
#div_block-10474-472 {width: 20%;}
#div_block-10477-472 {width: 20%;justify-content: center;}
#div_block-10480-472 {width: 20%;}
#div_block-10527-472 {usecustomtag: true;}
#div_block-10482-472 {width: 20%;}
#div_block-10484-472 {width: 20%;}
#div_block-10486-472 {width: 20%;}
#div_block-10489-472 {width: 20%;justify-content: center;}
#div_block-10490-472 {width: 20%;}
#div_block-10492-472 {width: 20%;}
#div_block-10494-472 {width: 20%;}
#div_block-10496-472 {width: 20%;}
#div_block-10433-472 {margin-bottom: 1rem;}
#eco-bio-table {width: 100%;margin-top: 0px;}
#div_block-846-472 {width: 20%;}
#div_block-848-472 {width: 20%;}
#div_block-850-472 {width: 20%;}
#div_block-852-472 {width: 20%;}
#div_block-854-472 {width: 20%;}
#div_block-857-472 {width: 20%;}
#div_block-858-472 {width: 20%;justify-content: center;}
#div_block-860-472 {width: 20%;}
#div_block-865-472 {width: 20%;}
#div_block-868-472 {width: 20%;}
#div_block-872-472 {width: 20%;justify-content: center;}
#div_block-873-472 {width: 20%;justify-content: center;}
#div_block-875-472 {width: 20%;}
#div_block-878-472 {width: 20%;}
#div_block-881-472 {width: 20%;}
#div_block-885-472 {width: 20%;justify-content: center;}
#div_block-889-472 {width: 20%;}
#div_block-891-472 {width: 20%;}
#div_block-894-472 {width: 20%;}
#div_block-897-472 {width: 20%;}
#div_block-10546-472 {margin-bottom: 1rem;}
#div_block-713-472 {width: 49.99%;}
#ghg-emissions {width: 100%;margin-top: 0px;}
#div_block-10552-472 {width: 20%;}
#div_block-10554-472 {width: 20%;}
#div_block-10556-472 {width: 20%;}
#div_block-10558-472 {width: 20%;}
#div_block-10560-472 {width: 20%;}
#div_block-10563-472 {width: 20%;justify-content: center;}
#div_block-10564-472 {width: 20%;}
#div_block-10566-472 {width: 20%;}
#div_block-10568-472 {width: 20%;}
#div_block-10570-472 {width: 20%;}
#div_block-10573-472 {width: 20%;justify-content: center;}
#div_block-10575-472 {width: 20%;}
#div_block-10578-472 {width: 20%;}
#div_block-10580-472 {width: 20%;}
#div_block-10582-472 {width: 20%;}
#div_block-10585-472 {width: 20%;justify-content: center;}
#div_block-10586-472 {width: 20%;}
#div_block-10589-472 {width: 20%;}
#div_block-10591-472 {width: 20%;}
#div_block-10593-472 {width: 20%;}
#div_block-10596-472 {width: 20%;justify-content: center;}
#div_block-10597-472 {width: 20%;}
#div_block-10599-472 {width: 20%;}
#div_block-10601-472 {width: 20%;}
#div_block-10603-472 {width: 20%;}
#div_block-10611-472 {width: 20%;justify-content: center;}
#div_block-10612-472 {width: 20%;}
#div_block-10614-472 {width: 20%;}
#div_block-10616-472 {width: 20%;}
#div_block-10618-472 {width: 20%;}
#div_block-10738-472 {display: block;}
#div_block-10740-472 {usecustomtag: true;}
#div_block-10741-472 {usecustomtag: true;}
#div_block-10743-472 {usecustomtag: true;}
#div_block-10745-472 {usecustomtag: true;}
#div_block-716-472 {margin-bottom: 0px;width: 50.01%;}
#air-pollutants {width: 100%;margin-top: 0px;}
#div_block-10631-472 {width: 20%;}
#div_block-10633-472 {width: 20%;}
#div_block-10635-472 {width: 20%;}
#div_block-10637-472 {width: 20%;}
#div_block-10639-472 {width: 20%;}
#div_block-10642-472 {width: 20%;justify-content: center;}
#div_block-10643-472 {width: 20%;}
#div_block-10645-472 {width: 20%;}
#div_block-10647-472 {width: 20%;}
#div_block-10649-472 {width: 20%;}
#div_block-10652-472 {width: 20%;justify-content: center;}
#div_block-10653-472 {width: 20%;}
#div_block-10655-472 {width: 20%;}
#div_block-10657-472 {width: 20%;}
#div_block-10659-472 {width: 20%;}
#div_block-10662-472 {width: 20%;justify-content: center;}
#div_block-10664-472 {width: 20%;}
#div_block-10666-472 {width: 20%;}
#div_block-10668-472 {width: 20%;}
#div_block-10670-472 {width: 20%;}
#div_block-10673-472 {width: 20%;justify-content: center;}
#div_block-10674-472 {width: 20%;}
#div_block-10676-472 {width: 20%;}
#div_block-10678-472 {width: 20%;}
#div_block-10680-472 {width: 20%;}
#div_block-10683-472 {width: 20%;justify-content: center;}
#div_block-10684-472 {width: 20%;}
#div_block-10686-472 {width: 20%;}
#div_block-10688-472 {width: 20%;}
#div_block-10690-472 {width: 20%;}
#div_block-10694-472 {width: 20%;justify-content: center;}
#div_block-10695-472 {width: 20%;}
#div_block-10697-472 {width: 20%;}
#div_block-10699-472 {width: 20%;}
#div_block-10701-472 {width: 20%;}
#div_block-10704-472 {width: 20%;justify-content: center;}
#div_block-10705-472 {width: 20%;}
#div_block-10707-472 {width: 20%;}
#div_block-10709-472 {width: 20%;}
#div_block-10711-472 {width: 20%;}
#div_block-10725-472 {display: block;}
#div_block-10727-472 {usecustomtag: true;}
#div_block-10728-472 {usecustomtag: true;}
#div_block-10730-472 {usecustomtag: true;}
#div_block-10732-472 {usecustomtag: true;}
#div_block-4048-472 {width: 40%;align-items: flex-end;}
#div_block-4049-472 {height: 100%;justify-content: center;width: auto;}
#div_block-4051-472 {width: 60%;}
#div_block-1249-472 {margin-top: 0px;width: 100%;}
#div_block-1252-472 {width: 20%;}
#div_block-1254-472 {width: 20%;}
#div_block-1256-472 {width: 20%;}
#div_block-1258-472 {width: 20%;}
#div_block-1260-472 {width: 20%;}
#div_block-1263-472 {width: 20%;justify-content: center;}
#div_block-1264-472 {width: 20%;}
#div_block-1266-472 {width: 20%;}
#div_block-1268-472 {width: 20%;}
#div_block-1270-472 {width: 20%;}
#div_block-1273-472 {width: 20%;justify-content: center;}
#div_block-1274-472 {width: 20%;}
#div_block-1276-472 {width: 20%;}
#div_block-1278-472 {width: 20%;}
#div_block-1280-472 {width: 20%;}
#div_block-1283-472 {width: 20%;justify-content: center;}
#div_block-1286-472 {width: 20%;}
#div_block-1288-472 {width: 20%;}
#div_block-1290-472 {width: 20%;}
#div_block-1292-472 {width: 20%;}
#div_block-1295-472 {width: 20%;justify-content: center;}
#div_block-1296-472 {width: 20%;}
#div_block-1298-472 {width: 20%;}
#div_block-1300-472 {width: 20%;}
#div_block-1302-472 {width: 20%;}
#div_block-1305-472 {width: 20%;justify-content: center;}
#div_block-1306-472 {width: 20%;}
#div_block-1308-472 {width: 20%;}
#div_block-1310-472 {width: 20%;}
#div_block-1312-472 {width: 20%;}
#div_block-10763-472 {width: 100%;display: flex;margin-bottom: 1rem;}
#div_block-1431-472 {margin-top: 0px;width: 100%;}
#div_block-1434-472 {width: 20%;}
#div_block-1436-472 {width: 20%;}
#div_block-1438-472 {width: 20%;}
#div_block-1440-472 {width: 20%;}
#div_block-1442-472 {width: 20%;}
#div_block-1455-472 {width: 20%;}
#div_block-1456-472 {width: 20%;}
#div_block-1458-472 {width: 20%;}
#div_block-1460-472 {width: 20%;}
#div_block-1462-472 {width: 20%;}
#div_block-1465-472 {width: 20%;}
#div_block-1468-472 {width: 20%;}
#div_block-1470-472 {width: 20%;}
#div_block-1472-472 {width: 20%;}
#div_block-1474-472 {width: 20%;}
#div_block-10777-472 {display: block;}
#div_block-10779-472 {usecustomtag: true;}
#div_block-10780-472 {usecustomtag: true;}
#div_block-10782-472 {usecustomtag: true;}
#div_block-10784-472 {usecustomtag: true;}
#div_block-4145-472 {width: 40%;align-items: flex-end;}
#div_block-4146-472 {height: 100%;justify-content: center;width: auto;}
#div_block-4148-472 {width: 60%;}
#div_block-4251-472 {margin-top: 0px;width: 100%;}
#div_block-4254-472 {width: 20%;}
#div_block-4256-472 {width: 20%;}
#div_block-4258-472 {width: 20%;}
#div_block-4260-472 {width: 20%;}
#div_block-4262-472 {width: 20%;}
#div_block-4265-472 {width: 20%;justify-content: center;}
#div_block-4266-472 {width: 20%;}
#div_block-4268-472 {width: 20%;}
#div_block-4270-472 {width: 20%;}
#div_block-4272-472 {width: 20%;}
#div_block-4275-472 {width: 20%;}
#div_block-4277-472 {width: 20%;}
#div_block-4279-472 {width: 20%;}
#div_block-4281-472 {width: 20%;}
#div_block-4283-472 {width: 20%;}
#div_block-4497-472 {margin-top: 0px;width: 100%;}
#div_block-4500-472 {width: 25%;}
#div_block-4502-472 {width: 25%;}
#div_block-4504-472 {width: 25%;}
#div_block-4506-472 {width: 25%;}
#div_block-4511-472 {width: 25%;justify-content: center;}
#div_block-4512-472 {width: 25%;}
#div_block-4514-472 {width: 25%;}
#div_block-4516-472 {width: 25%;}
#div_block-4521-472 {width: 25%;justify-content: center;}
#div_block-4523-472 {width: 25%;}
#div_block-4525-472 {width: 25%;}
#div_block-4527-472 {width: 25%;}
#div_block-4543-472 {width: 25%;}
#div_block-4545-472 {width: 25%;}
#div_block-4547-472 {width: 25%;}
#div_block-4549-472 {width: 25%;}
#div_block-1578-472 {margin-bottom: 0px;width: 100%;padding-left: 20px;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;}
#div_block-1580-472 {width: 100%;margin-top: 0px;}
#div_block-1582-472 {width: 25%;}
#div_block-1584-472 {width: 25%;}
#div_block-1586-472 {width: 25%;}
#div_block-1588-472 {width: 25%;}
#div_block-1591-472 {width: 25%;}
#div_block-1594-472 {width: 25%;}
#div_block-1596-472 {width: 25%;}
#div_block-1599-472 {width: 25%;justify-content: center;}
#div_block-1604-472 {width: 25%;}
#div_block-1607-472 {width: 25%;}
#div_block-1613-472 {width: 25%;}
#div_block-1615-472 {width: 25%;}
#div_block-1618-472 {width: 25%;}
#div_block-1621-472 {width: 25%;}
#div_block-1623-472 {width: 25%;}
#div_block-1626-472 {width: 25%;}
#div_block-1631-472 {width: 25%;}
#div_block-1687-472 {width: 25%;}
#div_block-1690-472 {width: 25%;}
#div_block-1692-472 {width: 25%;}
#div_block-1960-472 {width: 25%;}
#div_block-1963-472 {width: 25%;}
#div_block-1965-472 {width: 25%;}
#div_block-1695-472 {width: 25%;}
#div_block-1698-472 {width: 25%;}
#div_block-1700-472 {width: 25%;}
#div_block-1703-472 {width: 25%;}
#div_block-1706-472 {width: 25%;}
#div_block-1708-472 {width: 25%;}
#div_block-1711-472 {width: 25%;}
#div_block-1716-472 {width: 25%;}
#div_block-1719-472 {width: 25%;}
#div_block-1722-472 {width: 25%;}
#div_block-1724-472 {width: 25%;}
#div_block-1727-472 {width: 25%;}
#div_block-1730-472 {width: 25%;}
#div_block-1732-472 {width: 25%;}
#div_block-1735-472 {width: 25%;}
#div_block-1738-472 {width: 25%;}
#div_block-1740-472 {width: 25%;}
#div_block-1743-472 {width: 25%;}
#div_block-1748-472 {width: 25%;}
#div_block-1751-472 {width: 25%;}
#div_block-1754-472 {width: 25%;}
#div_block-1756-472 {width: 25%;}
#div_block-1759-472 {width: 25%;}
#div_block-1762-472 {width: 25%;}
#div_block-1764-472 {width: 25%;}
#div_block-1767-472 {width: 25%;}
#div_block-1770-472 {width: 25%;}
#div_block-1772-472 {width: 25%;}
#div_block-1775-472 {width: 25%;}
#div_block-1778-472 {width: 25%;}
#div_block-1780-472 {width: 25%;}
#div_block-1783-472 {width: 25%;}
#div_block-1786-472 {width: 25%;}
#div_block-1788-472 {width: 25%;}
#div_block-1791-472 {width: 25%;}
#div_block-1796-472 {width: 25%;}
#div_block-1799-472 {width: 25%;}
#div_block-1802-472 {width: 25%;}
#div_block-1804-472 {width: 25%;}
#div_block-1807-472 {width: 25%;}
#div_block-1810-472 {width: 25%;}
#div_block-1812-472 {width: 25%;}
#div_block-1815-472 {width: 25%;}
#div_block-1818-472 {width: 25%;}
#div_block-1820-472 {width: 25%;}
#div_block-1823-472 {width: 25%;}
#div_block-1826-472 {width: 25%;}
#div_block-1828-472 {width: 25%;}
#div_block-1831-472 {width: 25%;}
#div_block-1834-472 {width: 25%;}
#div_block-1836-472 {width: 25%;}
#div_block-1839-472 {width: 25%;}
#div_block-1842-472 {width: 25%;}
#div_block-1844-472 {width: 25%;}
#div_block-1847-472 {width: 25%;}
#div_block-1852-472 {width: 25%;}
#div_block-1855-472 {width: 25%;}
#div_block-1858-472 {width: 25%;}
#div_block-1860-472 {width: 25%;}
#div_block-1863-472 {width: 25%;}
#div_block-1866-472 {width: 25%;}
#div_block-1868-472 {width: 25%;}
#div_block-1871-472 {width: 25%;}
#div_block-1874-472 {width: 25%;}
#div_block-1876-472 {width: 25%;}
#div_block-1879-472 {width: 25%;}
#div_block-1882-472 {width: 25%;}
#div_block-1884-472 {width: 25%;}
#div_block-1887-472 {width: 25%;}
#div_block-1890-472 {width: 25%;}
#div_block-1892-472 {width: 25%;}
#div_block-1895-472 {width: 25%;}
#div_block-1898-472 {width: 25%;}
#div_block-1900-472 {width: 25%;}
#div_block-10105-472 {width: 25%;}
#div_block-10108-472 {width: 25%;}
#div_block-10110-472 {width: 25%;}
#div_block-1903-472 {width: 25%;}
#div_block-1906-472 {width: 25%;}
#div_block-1908-472 {width: 25%;}
#div_block-1911-472 {width: 25%;}
#div_block-1914-472 {width: 25%;}
#div_block-1916-472 {width: 25%;}
#div_block-10857-472 {width: 50%;}
#div_block-2073-472 {width: 100%;margin-top: 0px;}
#div_block-2075-472 {width: 25%;}
#div_block-2077-472 {width: 25%;}
#div_block-2079-472 {width: 25%;}
#div_block-2081-472 {width: 25%;}
#div_block-2084-472 {width: 25%;}
#div_block-2087-472 {width: 25%;}
#div_block-2089-472 {width: 25%;}
#div_block-2092-472 {width: 25%;justify-content: center;}
#div_block-2096-472 {width: 25%;}
#div_block-2098-472 {width: 25%;}
#div_block-2101-472 {width: 25%;}
#div_block-2103-472 {width: 25%;}
#div_block-2106-472 {width: 25%;}
#div_block-2109-472 {width: 25%;}
#div_block-2111-472 {width: 25%;}
#div_block-2114-472 {width: 25%;}
#div_block-2118-472 {width: 25%;}
#div_block-2120-472 {width: 25%;}
#div_block-2123-472 {width: 25%;}
#div_block-2125-472 {width: 25%;}
#div_block-2128-472 {width: 25%;}
#div_block-2131-472 {width: 25%;}
#div_block-2133-472 {width: 25%;}
#div_block-2136-472 {width: 25%;}
#div_block-2139-472 {width: 25%;}
#div_block-2141-472 {width: 25%;}
#div_block-2144-472 {width: 25%;}
#div_block-2147-472 {width: 25%;}
#div_block-2149-472 {width: 25%;}
#div_block-2152-472 {width: 25%;}
#div_block-2156-472 {width: 25%;}
#div_block-2158-472 {width: 25%;}
#div_block-2161-472 {width: 25%;}
#div_block-2163-472 {width: 25%;}
#div_block-2366-472 {width: 25%;}
#div_block-2369-472 {width: 25%;}
#div_block-2371-472 {width: 25%;}
#div_block-10858-472 {width: 50%;justify-content: flex-start;}
#div_block-2380-472 {width: 100%;margin-top: 0px;}
#div_block-2382-472 {width: 25%;}
#div_block-2384-472 {width: 25%;}
#div_block-2386-472 {width: 25%;}
#div_block-2388-472 {width: 25%;}
#div_block-2391-472 {width: 25%;}
#div_block-2394-472 {width: 25%;}
#div_block-2395-472 {width: 25%;}
#div_block-2397-472 {width: 25%;justify-content: center;}
#div_block-2401-472 {width: 25%;}
#div_block-2403-472 {width: 25%;}
#div_block-2406-472 {width: 25%;}
#div_block-2408-472 {width: 25%;}
#div_block-2411-472 {width: 25%;}
#div_block-2414-472 {width: 25%;}
#div_block-2416-472 {width: 25%;}
#div_block-2419-472 {width: 25%;}
#div_block-2423-472 {width: 25%;}
#div_block-2425-472 {width: 25%;}
#div_block-2429-472 {width: 25%;}
#div_block-2431-472 {width: 25%;}
#div_block-2434-472 {width: 25%;}
#div_block-2437-472 {width: 25%;}
#div_block-2439-472 {width: 25%;}
#div_block-2442-472 {width: 25%;}
#div_block-2445-472 {width: 25%;}
#div_block-2447-472 {width: 25%;}
#div_block-2450-472 {width: 25%;}
#div_block-2453-472 {width: 25%;}
#div_block-2455-472 {width: 25%;}
#div_block-2458-472 {width: 25%;}
#div_block-2462-472 {width: 25%;}
#div_block-2464-472 {width: 25%;}
#div_block-2467-472 {width: 25%;}
#div_block-2469-472 {width: 25%;}
#div_block-2472-472 {width: 25%;}
#div_block-2475-472 {width: 25%;}
#div_block-2477-472 {width: 25%;}
#div_block-2481-472 {width: 25%;}
#div_block-2484-472 {width: 25%;}
#div_block-2486-472 {width: 25%;}
#div_block-2489-472 {width: 25%;}
#div_block-2492-472 {width: 25%;}
#div_block-2494-472 {width: 25%;}
#div_block-2500-472 {width: 25%;}
#div_block-2503-472 {width: 25%;}
#div_block-2505-472 {width: 25%;}
#div_block-2508-472 {width: 25%;}
#div_block-2511-472 {width: 25%;}
#div_block-2513-472 {width: 25%;}
#div_block-2516-472 {width: 25%;}
#div_block-2519-472 {width: 25%;}
#div_block-2521-472 {width: 25%;}
#div_block-7489-472 {width: 100%;padding-left: .5%;}
#div_block-10851-472 {width: 50%;padding-top: .5%;padding-right: .5%;padding-left: .5%;padding-bottom: .5%;font-size: 80%;}
#div_block-8171-472 {width: 100%;margin-top: 0px;}
#div_block-8175-472 {}
#div_block-8178-472 {}
#div_block-8180-472 {}
#div_block-8188-472 {}
#div_block-8698-472 {justify-content: center;}
#div_block-8700-472 {}
#div_block-8704-472 {justify-content: flex-start;}
#div_block-8706-472 {}
#div_block-8709-472 {}
#div_block-8712-472 {}
#div_block-8715-472 {}
#div_block-8718-472 {}
#div_block-8846-472 {justify-content: center;}
#div_block-8848-472 {}
#div_block-8849-472 {justify-content: flex-start;}
#div_block-8852-472 {justify-content: flex-start;}
#div_block-8854-472 {}
#div_block-8857-472 {}
#div_block-8860-472 {}
#div_block-8863-472 {}
#div_block-8866-472 {}
#div_block-8674-472 {justify-content: center;}
#div_block-8676-472 {}
#div_block-8680-472 {justify-content: flex-start;}
#div_block-8682-472 {}
#div_block-8685-472 {}
#div_block-8688-472 {}
#div_block-8691-472 {}
#div_block-8694-472 {}
#div_block-8773-472 {justify-content: center;}
#div_block-8775-472 {}
#div_block-8776-472 {justify-content: flex-start;}
#div_block-8781-472 {}
#div_block-8784-472 {}
#div_block-8787-472 {}
#div_block-8790-472 {}
#div_block-8793-472 {}
#div_block-8798-472 {justify-content: center;}
#div_block-8800-472 {}
#div_block-8801-472 {justify-content: flex-start;}
#div_block-8804-472 {justify-content: flex-start;}
#div_block-8806-472 {}
#div_block-8809-472 {}
#div_block-8812-472 {}
#div_block-8815-472 {}
#div_block-8818-472 {}
#div_block-8870-472 {justify-content: center;}
#div_block-8872-472 {}
#div_block-8876-472 {justify-content: flex-start;}
#div_block-8878-472 {}
#div_block-8881-472 {}
#div_block-8884-472 {}
#div_block-8887-472 {}
#div_block-8890-472 {}
#div_block-8894-472 {justify-content: center;}
#div_block-8896-472 {}
#div_block-8900-472 {justify-content: flex-start;}
#div_block-8902-472 {}
#div_block-8905-472 {}
#div_block-8908-472 {}
#div_block-8911-472 {}
#div_block-8914-472 {}
#div_block-8918-472 {justify-content: center;}
#div_block-8920-472 {}
#div_block-8924-472 {justify-content: flex-start;}
#div_block-8926-472 {}
#div_block-8929-472 {}
#div_block-8932-472 {}
#div_block-8935-472 {}
#div_block-8938-472 {}
#div_block-8942-472 {justify-content: center;}
#div_block-8944-472 {}
#div_block-8948-472 {justify-content: flex-start;}
#div_block-8950-472 {}
#div_block-8953-472 {}
#div_block-8956-472 {}
#div_block-8959-472 {}
#div_block-8962-472 {}
#div_block-8966-472 {justify-content: center;}
#div_block-8968-472 {}
#div_block-8972-472 {justify-content: flex-start;}
#div_block-8974-472 {}
#div_block-8977-472 {}
#div_block-8980-472 {}
#div_block-8983-472 {}
#div_block-8986-472 {}
#div_block-8990-472 {justify-content: center;}
#div_block-8992-472 {}
#div_block-8996-472 {justify-content: flex-start;}
#div_block-8998-472 {}
#div_block-9001-472 {}
#div_block-9004-472 {}
#div_block-9007-472 {}
#div_block-9010-472 {}
#div_block-9014-472 {justify-content: center;}
#div_block-9016-472 {}
#div_block-9020-472 {justify-content: flex-start;}
#div_block-9022-472 {}
#div_block-9025-472 {}
#div_block-9028-472 {}
#div_block-9031-472 {}
#div_block-9034-472 {}
#div_block-9038-472 {justify-content: center;}
#div_block-9040-472 {}
#div_block-9044-472 {justify-content: flex-start;}
#div_block-9046-472 {}
#div_block-9049-472 {}
#div_block-9052-472 {}
#div_block-9055-472 {}
#div_block-9058-472 {}
#div_block-9062-472 {justify-content: center;}
#div_block-9064-472 {}
#div_block-9068-472 {justify-content: flex-start;}
#div_block-9070-472 {}
#div_block-9073-472 {}
#div_block-9076-472 {}
#div_block-9079-472 {}
#div_block-9082-472 {}
#div_block-9086-472 {justify-content: center;}
#div_block-9088-472 {}
#div_block-9092-472 {justify-content: flex-start;}
#div_block-9094-472 {}
#div_block-9097-472 {}
#div_block-9100-472 {}
#div_block-9103-472 {}
#div_block-9106-472 {}
#div_block-9110-472 {justify-content: center;}
#div_block-9112-472 {}
#div_block-9116-472 {justify-content: flex-start;}
#div_block-9118-472 {}
#div_block-9121-472 {}
#div_block-9124-472 {}
#div_block-9127-472 {}
#div_block-9130-472 {}
#div_block-10852-472 {width: 50%;padding-bottom: .5%;padding-top: .5%;padding-right: .5%;padding-left: .5%;font-size: 80%;}
#div_block-9561-472 {width: 100%;margin-top: 0px;}
#div_block-9563-472 {}
#div_block-9565-472 {}
#div_block-9568-472 {}
#div_block-9570-472 {}
#div_block-9578-472 {}
#div_block-9661-472 {justify-content: center;}
#div_block-9663-472 {align-items: flex-start;text-align: left;justify-content: center;}
#div_block-9669-472 {}
#div_block-9672-472 {}
#div_block-9675-472 {}
#div_block-9678-472 {}
#div_block-9681-472 {}
#div_block-9975-472 {justify-content: center;}
#div_block-9977-472 {align-items: flex-start;text-align: left;justify-content: center;}
#div_block-9983-472 {}
#div_block-9986-472 {}
#div_block-9989-472 {}
#div_block-9992-472 {}
#div_block-9995-472 {}
#div_block-10000-472 {justify-content: center;}
#div_block-10002-472 {align-items: flex-start;text-align: left;justify-content: center;padding-top: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;}
#div_block-10008-472 {}
#div_block-10011-472 {}
#div_block-10014-472 {}
#div_block-10017-472 {}
#div_block-10020-472 {}
#div_block-10025-472 {justify-content: center;}
#div_block-10027-472 {align-items: flex-start;text-align: left;}
#div_block-10028-472 {padding-left: 0px;width: 300%;}
#div_block-10033-472 {}
#div_block-10036-472 {}
#div_block-10039-472 {}
#div_block-10042-472 {}
#div_block-10045-472 {}
#div_block-10050-472 {justify-content: center;}
#div_block-10052-472 {align-items: flex-start;}
#div_block-10053-472 {padding-left: 0px;width: 300%;align-items: flex-start;text-align: left;}
#div_block-10058-472 {}
#div_block-10061-472 {}
#div_block-10064-472 {}
#div_block-10067-472 {}
#div_block-10070-472 {}
#div_block-10075-472 {justify-content: center;}
#div_block-10077-472 {align-items: flex-start;text-align: left;}
#div_block-10078-472 {align-items: flex-start;text-align: left;width: 300%;margin-top: 0px;margin-bottom: 0px;}
#div_block-10083-472 {}
#div_block-10086-472 {}
#div_block-10089-472 {}
#div_block-10092-472 {}
#div_block-10095-472 {}
#div_block-3025-472 {width: 50%;margin-bottom: 0px;}
#div_block-3027-472 {width: 100%;margin-top: 0px;}
#div_block-3029-472 {width: 25%;}
#div_block-3031-472 {width: 25%;}
#div_block-3033-472 {width: 25%;}
#div_block-3035-472 {width: 25%;}
#div_block-3038-472 {width: 25%;}
#div_block-3041-472 {width: 25%;}
#div_block-3043-472 {width: 25%;}
#div_block-3046-472 {width: 25%;justify-content: center;}
#div_block-3049-472 {width: 25%;}
#div_block-3051-472 {width: 25%;}
#div_block-3081-472 {width: 100%;margin-top: 0px;}
#div_block-3083-472 {width: 25%;}
#div_block-3085-472 {width: 25%;}
#div_block-3087-472 {width: 25%;}
#div_block-3089-472 {width: 25%;}
#div_block-3092-472 {justify-content: center;width: 25%;}
#div_block-3093-472 {width: 25%;}
#div_block-3095-472 {width: 25%;}
#div_block-3096-472 {width: 25%;}
#div_block-3098-472 {width: 25%;justify-content: center;}
#div_block-3101-472 {width: 25%;}
#div_block-3103-472 {width: 25%;}
#div_block-3106-472 {width: 25%;justify-content: center;}
#div_block-3110-472 {width: 25%;}
#div_block-3112-472 {width: 25%;}
#div_block-3022-472 {width: 50%;padding-top: 0px;}
#div_block-3137-472 {width: 100%;margin-top: 0px;}
#div_block-3139-472 {width: 25%;}
#div_block-3141-472 {width: 25%;}
#div_block-3143-472 {width: 25%;}
#div_block-3145-472 {width: 25%;}
#div_block-3148-472 {justify-content: center;width: 25%;}
#div_block-3149-472 {width: 25%;}
#div_block-3151-472 {width: 25%;}
#div_block-3152-472 {width: 25%;}
#div_block-3154-472 {width: 25%;justify-content: center;}
#div_block-3157-472 {width: 25%;}
#div_block-3159-472 {width: 25%;}
#div_block-3162-472 {width: 25%;justify-content: center;}
#div_block-3166-472 {width: 25%;}
#div_block-3168-472 {width: 25%;}
#div_block-3187-472 {width: 25%;justify-content: center;}
#div_block-3190-472 {width: 25%;}
#div_block-3192-472 {width: 25%;}
#div_block-3195-472 {width: 25%;justify-content: center;}
#div_block-3198-472 {width: 25%;}
#div_block-3200-472 {width: 25%;}
#div_block-3204-472 {width: 25%;justify-content: center;}
#div_block-3207-472 {width: 25%;}
#div_block-3209-472 {width: 25%;}
#div_block-3212-472 {width: 25%;justify-content: center;}
#div_block-3215-472 {width: 25%;}
#div_block-3217-472 {width: 25%;}
#div_block-3236-472 {width: 50%;}
#div_block-3241-472 {width: 100%;margin-top: 0px;}
#div_block-3243-472 {width: 25%;}
#div_block-3245-472 {width: 25%;}
#div_block-3247-472 {width: 25%;}
#div_block-3249-472 {width: 25%;}
#div_block-3260-472 {justify-content: center;}
#div_block-3263-472 {width: 25%;}
#div_block-3265-472 {width: 25%;}
#workplace-policy {width: 100%;margin-top: 0px;}
#div_block-10114-472 {width: 25%;}
#div_block-10116-472 {width: 25%;}
#div_block-10118-472 {width: 25%;}
#div_block-10120-472 {width: 25%;}
#div_block-10127-472 {width: 25%;}
#div_block-10129-472 {width: 25%;}
#div_block-10804-472 {justify-content: center;}
#div_block-10808-472 {width: 25%;}
#div_block-10810-472 {width: 25%;}
#div_block-10817-472 {width: 25%;}
#div_block-10819-472 {width: 25%;}
#div_block-10824-472 {usecustomtag: true;}
#div_block-3239-472 {width: 50%;padding-top: 0px;justify-content: center;}
#div_block-3525-472 {width: 50%;}
#div_block-3527-472 {width: 100%;margin-top: 0px;}
#div_block-3529-472 {width: 25%;}
#div_block-3531-472 {width: 25%;}
#div_block-3533-472 {width: 25%;}
#div_block-3535-472 {width: 25%;}
#div_block-3538-472 {width: 25%;justify-content: flex-end;}
#div_block-3542-472 {width: 25%;}
#div_block-3544-472 {width: 25%;}
#div_block-3547-472 {width: 25%;}
#div_block-3550-472 {width: 25%;}
#div_block-3552-472 {width: 25%;}
#div_block-3555-472 {width: 100%;margin-top: 0px;}
#div_block-3557-472 {width: 25%;}
#div_block-3559-472 {width: 25%;}
#div_block-3561-472 {width: 25%;}
#div_block-3563-472 {width: 25%;}
#div_block-3566-472 {width: 25%;justify-content: center;}
#div_block-3570-472 {width: 25%;}
#div_block-3572-472 {width: 25%;}
#div_block-3575-472 {width: 25%;}
#div_block-3579-472 {width: 25%;}
#div_block-3581-472 {width: 25%;}
#div_block-3585-472 {width: 50%;padding-top: 0px;}
#div_block-3587-472 {width: 100%;margin-top: 0px;}
#div_block-3589-472 {width: 25%;}
#div_block-3591-472 {width: 25%;}
#div_block-3593-472 {width: 25%;}
#div_block-3595-472 {width: 25%;}
#div_block-3598-472 {width: 25%;justify-content: center;}
#div_block-3601-472 {width: 25%;}
#div_block-3602-472 {width: 25%;}
#div_block-3605-472 {width: 25%;justify-content: center;}
#div_block-3607-472 {justify-content: center;}
#div_block-3609-472 {width: 25%;padding-left: 0px;padding-right: 0px;}
#div_block-3611-472 {width: 25%;}
#div_block-3614-472 {width: 25%;justify-content: center;}
#div_block-3617-472 {width: 25%;}
#div_block-3618-472 {width: 25%;}
#div_block-3621-472 {width: 100%;margin-top: 0px;}
#div_block-3623-472 {width: 25%;}
#div_block-3625-472 {width: 25%;}
#div_block-3627-472 {width: 25%;}
#div_block-3629-472 {width: 25%;}
#div_block-3632-472 {width: 25%;justify-content: center;}
#div_block-3636-472 {width: 25%;}
#div_block-3638-472 {width: 25%;}
@media (max-width:991px) {#div_block-57-472 {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;display: none;}}
@media (max-width:991px) {#div_block-245-472 {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;display: none;}}
@media (max-width:991px) {#div_block-3686-472 {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;display: none;}}
@media (max-width:991px) {#div_block-713-472 {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}}
@media (max-width:991px) {#div_block-4048-472 {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;display: none;}}
@media (max-width:991px) {#div_block-4145-472 {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;display: none;}}
@media (max-width:991px) {#div_block-3022-472 {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}}
@media (max-width:991px) {#div_block-3236-472 {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}}
@media (max-width:991px) {#div_block-3525-472 {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}}
@media (max-width:991px) {#new_columns-3-472> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-244-472> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-c493-472> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-3685-472> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-712-472> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-4047-472> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-4144-472> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-7197-472> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-10856-472> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-10850-472> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-3021-472> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-3235-472> .ct-div-block {width: 100% !important;}}
#new_columns-3235-472 {margin-bottom: 24px;margin-top: 24px;}
@media (max-width:991px) {#new_columns-3524-472> .ct-div-block {width: 100% !important;}}
#new_columns-3524-472 {margin-bottom: 24px;margin-top: 24px;}
#headline-51-472 {padding-bottom: 10px;}
#headline-164-472 {padding-bottom: 10px;}
#headline-250-472 {padding-bottom: 10px;}
#headline-319-472 {padding-bottom: 10px;}
#headline-455-472 {padding-bottom: 10px;}
#headline-410-472 {padding-bottom: 10px;}
#headline-762-472 {padding-bottom: 10px;padding-top: 20px;}
#headline-843-472 {padding-bottom: 10px;}
#headline-717-472 {padding-bottom: 10px;}
#headline-1163-472 {padding-bottom: 10px;}
#headline-1250-472 {padding-bottom: 10px;}
#headline-1432-472 {padding-bottom: 10px;}
#headline-4252-472 {padding-bottom: 10px;padding-top: 20px;}
#headline-4498-472 {padding-bottom: 10px;padding-top: 20px;}
#headline-1579-472 {padding-bottom: 10px;}
#headline-1973-472 {padding-bottom: 10px;}
#headline-2379-472 {padding-bottom: 10px;}
#headline-7490-472 {padding-bottom: 10px;}
#headline-3026-472 {padding-bottom: 10px;}
#headline-3080-472 {padding-bottom: 10px;padding-top: 20px;}
#headline-3179-472 {padding-bottom: 10px;padding-top: 20px;}
#headline-3240-472 {padding-bottom: 10px;}
#headline-3339-472 {padding-bottom: 10px;padding-top: 20px;}
#headline-3526-472 {padding-bottom: 10px;}
#headline-3554-472 {padding-bottom: 10px;padding-top: 20px;}
#headline-3586-472 {padding-bottom: 10px;padding-top: 20px;}
#headline-3620-472 {padding-bottom: 10px;padding-top: 20px;}
#text_block-242-472 {font-family: Arial,Helvetica,sans-serif;}
#text_block-3424-472 {font-family: Arial,Helvetica,sans-serif;}
#text_block-523-472 {text-align: left;}
#text_block-10364-472 {text-align: left;}
#text_block-604-472 {text-align: left;}
#text_block-638-472 {text-align: left;}
#text_block-10377-472 {text-align: left;}
#text_block-10425-472 {text-align: left;}
#text_block-10173-472 {usecustomtag: false;}
#text_block-10175-472 {usecustomtag: false;}
#text_block-10177-472 {usecustomtag: false;}
#text_block-546-472 {text-align: left;}
#text_block-559-472 {text-align: left;}
#text_block-570-472 {text-align: left;}
#text_block-581-472 {text-align: left;}
#text_block-699-472 {text-align: left;}
#text_block-10155-472 {usecustomtag: false;}
#text_block-10157-472 {usecustomtag: false;}
#text_block-10159-472 {usecustomtag: false;}
#text_block-10163-472 {usecustomtag: false;}
#text_block-10459-472 {text-align: left;}
#text_block-10517-472 {usecustomtag: true;margin-bottom: 0px;}
#text_block-10528-472 {usecustomtag: true;margin-bottom: 0px;}
#text_block-10491-472 {text-align: left;}
#text_block-10437-472 {usecustomtag: false;}
#text_block-886-472 {text-align: left;}
#text_block-859-472 {text-align: left;}
#text_block-10540-472 {text-align: left;}
#text_block-874-472 {text-align: left;}
#text_block-10541-472 {text-align: left;}
#text_block-890-472 {text-align: left;}
#text_block-10565-472 {text-align: left;}
#text_block-10755-472 {text-align: left;}
#text_block-10606-472 {text-align: left;}
#text_block-10608-472 {text-align: left;}
#text_block-10598-472 {text-align: left;}
#text_block-10739-472 {display: block;}
#text_block-10744-472 {display: block;usecustomtag: false;}
#text_block-10746-472 {display: block;usecustomtag: false;}
#text_block-10644-472 {text-align: left;}
#text_block-10654-472 {text-align: left;}
#text_block-10665-472 {text-align: left;}
#text_block-10675-472 {text-align: left;}
#text_block-10685-472 {text-align: left;}
#text_block-10696-472 {text-align: left;}
#text_block-10706-472 {text-align: left;}
#text_block-10713-472 {font-size: .75rem;}
#text_block-10726-472 {display: block;}
#text_block-10731-472 {display: block;usecustomtag: false;}
#text_block-10733-472 {display: block;usecustomtag: false;}
#text_block-1265-472 {text-align: left;}
#text_block-1275-472 {text-align: left;}
#text_block-1287-472 {text-align: left;}
#text_block-1297-472 {text-align: left;}
#text_block-1307-472 {text-align: left;}
#text_block-10767-472 {usecustomtag: false;}
#text_block-10769-472 {usecustomtag: false;}
#text_block-10771-472 {usecustomtag: false;}
#text_block-10773-472 {usecustomtag: false;}
#text_block-1457-472 {text-align: left;}
#text_block-1469-472 {text-align: left;}
#text_block-10778-472 {display: block;}
#text_block-10783-472 {display: block;usecustomtag: false;}
#text_block-10785-472 {display: block;usecustomtag: false;}
#text_block-4267-472 {text-align: left;}
#text_block-4278-472 {text-align: left;}
#text_block-4513-472 {text-align: left;}
#text_block-4524-472 {text-align: left;}
#text_block-4546-472 {text-align: left;}
#text_block-4532-472 {font-family: Arial,Helvetica,sans-serif;}
#text_block-2069-472 {font-family: Arial,Helvetica,sans-serif;}
#text_block-2479-472 {font-family: Arial,Helvetica,sans-serif;}
#text_block-8179-472 {margin-left: auto;margin-right: auto;}
#text_block-8182-472 {margin-left: auto;margin-right: auto;}
#text_block-8190-472 {margin-left: auto;margin-right: auto;}
#text_block-9569-472 {margin-left: auto;margin-right: auto;}
#text_block-9572-472 {margin-left: auto;margin-right: auto;}
#text_block-9580-472 {margin-left: auto;margin-right: auto;}
#text_block-10029-472 {width: 200%;max-width: 200%;}
#text_block-6917-472 {font-family: Arial,Helvetica,sans-serif;}
#text_block-3171-472 {font-family: Arial,Helvetica,sans-serif;}
#text_block-3122-472 {font-family: Arial,Helvetica,sans-serif;}
#text_block-3132-472 {font-family: Arial,Helvetica,sans-serif;}
#text_block-3262-472 {text-align: left;}
#text_block-10126-472 {text-align: left;}
#text_block-10130-472 {text-align: left;}
#text_block-10807-472 {text-align: left;}
#text_block-10816-472 {text-align: left;}
#text_block-10820-472 {usecustomtag: true;}
#text_block-10827-472 {usecustomtag: true;}
#text_block-10828-472 {usecustomtag: true;}
#text_block-10829-472 {usecustomtag: true;}
#text_block-10830-472 {usecustomtag: true;}
#text_block-10831-472 {usecustomtag: true;}
#text_block-10832-472 {usecustomtag: true;}
#text_block-10833-472 {usecustomtag: true;}
#text_block-10834-472 {usecustomtag: true;}
#text_block-10841-472 {font-style: italic;font-size: 12px;}
#text_block-3569-472 {text-align: left;}
#text_block-3583-472 {font-style: italic;font-size: 12px;}
#_rich_text-163-472 {margin-bottom: 0px;font-family: Arial,Helvetica,sans-serif;}
#image-3508-472 {width: 100%;margin-top: 3rem;margin-bottom: 1rem;}
#image-7-472 {width: 100%;}
#image-248-472 {width: 100%;height: auto;}
#image-3689-472 {width: 125%;margin-left: -25%;margin-right: 5%;height: auto;}
#image-4050-472 {width: 100%;height: auto;}
#image-4147-472 {width: 100%;height: auto;}
#image-3650-472 {width: 100%;}
@media (max-width:767px) {#image-3508-472 {width: 75%;margin-top: auto;}}