#div_block-425-24 {display: none;}
#div_block-426-24 {color: #fff;top: 0%;position: absolute;display: block;left: 0%;width: 100%;height: 100%;}
#div_block-450-24 {width: 100%;height: 100%;flex-direction: column;display: flex;align-items: center;justify-content: center;text-align: center;}
#div_block-439-24 {flex-direction: row;display: flex;width: 100%;justify-content: center;}
#headline-427-24 {font-family: "Plus Jakarta Sans";font-weight: 500;display: block;align-items: flex-start;justify-content: center;}
#text_block-440-24 {margin-top: .5rem;font-family: "Plus Jakarta Sans";}
#text_block-429-24 {font-size: 1rem;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;}
#text_block-441-24 {font-size: 1rem;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
#image-447-24 {width: 100%;display: block;float: right;}