#div_block-133-24 {width: 100%;}
#div_block-131-24 {width: 33%;}
#div_block-142-24 {width: 100%;position: relative;}
#div_block-143-24 {position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;padding-top: 2rem;padding-right: 2rem;padding-bottom: 2rem;padding-left: 2rem;display: flex;}
#div_block-132-24 {width: 67%;display: block;}
@media (max-width:991px) {#div_block-131-24 {text-align: left;flex-direction: row;display: flex;}}
@media (max-width:991px) {#div_block-142-24 {width: 100%;}}
@media (max-width:991px) {#div_block-132-24 {padding-top: 0px;}}
@media (max-width:767px) {#div_block-131-24 {flex-direction: column;display: flex;}}
@media (max-width:767px) {#div_block-132-24 {display: flex;flex-direction: column-reverse;}}
@media (max-width:991px) {#new_columns-130-24> .ct-div-block {width: 100% !important;}
	#new_columns-130-24 {flex-direction: column;}}
#headline-144-24 {font-weight: 400;margin-bottom: auto;margin-top: auto;}
@media (max-width:991px) {#text_block-136-24 {margin-bottom: 0px;padding-left: 20px;}}
@media (max-width:767px) {#text_block-136-24 {padding-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}}
#image-150-24 {width: 70%;float: right;margin-top: 20%;margin-right: -20px;height: auto;}
@media (max-width:767px) {#image-150-24 {width: 100%;margin-right: 0px;margin-top: 0%;}}