#div_block-1130-174 {width: 100%;height: auto;background-color: #ebebeb;margin-top: auto;}
#div_block-1133-174 {margin-left: auto;}
#image-1132-174 {max-width: 80px;margin-top: -30%;margin-bottom: 20%;margin-right: -20%;margin-left: auto;}