#div_block-142-174 {width: 50%;padding-left: 0px;padding-right: 0px;padding-top: 0px;justify-content: center;background-color: #52a754;padding-bottom: 0px;}
#div_block-1055-174 {flex-direction: row;display: flex;justify-content: space-around;}
#div_block-1058-174 {flex-direction: column;display: flex;text-align: left;width: 60%;}
@media (max-width:991px) {#div_block-142-174 {width: 40%;}}
#text_block-1059-174 {font-family: "Plus Jakarta Sans";margin-bottom: 1rem;font-size: 2rem;margin-top: 0px;margin-right: 0px;margin-left: 0px;}
#text_block-1060-174 {font-weight: 400;font-size: 2rem;line-height: 1.2;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
#image-1057-174 {width: 39%;margin-right: 20px;height: auto;}