#div_block-1081-174 {display: flex;justify-content: center;align-items: center;margin-top: -.5rem;text-align: justify;width: 100%;align-content: space-around;flex-direction: row;flex-wrap: nowrap;}
#div_block-1121-174 {width: 20%;}
#div_block-1119-174 {width: 100%;height: 100%;flex-direction: column;display: flex;}
#div_block-1066-174 {margin-bottom: 0px;margin-top: 0px;margin-left: 0px;margin-right: 0px;}
#div_block-1084-174 {width: 0px;height: 0px;}
#div_block-1076-174 {width: 100%;flex-direction: row;display: flex;align-items: center;justify-content: center;}
#div_block-1221-174 {width: 40%;}
#div_block-1068-174 {flex-direction: row;display: flex;align-items: center;width: 100%;justify-content: flex-start;text-align: center;}
#text_block-1069-174 {font-family: "Plus Jakarta Sans";font-size: 1.5rem;margin-left: auto;margin-right: auto;}
#text_block-1070-174 {font-weight: 400;}
#image-1082-174 {width: 70px;}
#image-1067-174 {width: 2rem;margin-right: 2rem;margin-left: 2rem;height: auto;}