#div_block-1226-174 {width: 35%;padding-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;justify-content: center;background-color: #52a754;}
#div_block-1212-174 {width: 0px;height: 0px;}
#div_block-1209-174 {width: 100%;flex-direction: column;display: flex;text-align: left;padding-top: 0px;}
@media (max-width:991px) {#div_block-1226-174 {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}}
#text_block-1201-174 {font-family: "Plus Jakarta Sans";margin-bottom: 10px;font-size: 1.5rem;}
#text_block-1202-174 {font-weight: 400;margin-bottom: 1rem;}
#image-1222-174 {width: 2rem;}