#div_block-3467-174 {width: 100%;}
#div_block-3469-174 {width: 30%;padding-left: 0px;padding-right: 0px;padding-top: 0px;}
#div_block-3470-174 {margin-right: 2rem;width: 40%;}
#div_block-3473-174 {width: 70%;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;}
#div_block-3474-174 {width: 100%;text-align: left;flex-direction: row;display: flex;}
#div_block-3477-174 {width: 60%;justify-content: center;}
#div_block-3479-174 {width: 40%;justify-content: center;}
#div_block-3482-174 {width: 60%;flex-direction: column;display: flex;text-align: left;justify-content: center;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-3484-174 {width: 40%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-3487-174 {width: 60%;flex-direction: column;display: flex;text-align: left;justify-content: center;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-3489-174 {width: 40%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#headline-3471-174 {margin-bottom: .5rem;}