#div_block-3499-174 {width: 100%;margin-bottom: 20px;}
#div_block-3501-174 {width: 30%;padding-left: 0px;padding-right: 0px;padding-top: 0px;}
#div_block-3502-174 {margin-right: 2rem;width: 40%;}
#div_block-3505-174 {width: 70%;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;}
#div_block-3506-174 {width: 100%;text-align: left;flex-direction: row;display: flex;}
#div_block-3507-174 {margin-bottom: 0px;}
#div_block-3508-174 {width: 0px;height: 0px;}
#div_block-3510-174 {flex-direction: column;display: flex;text-align: left;}
#headline-3503-174 {margin-bottom: .5rem;}
#text_block-3511-174 {font-family: "Plus Jakarta Sans";margin-bottom: 10px;font-size: 1.5rem;}
#text_block-3512-174 {font-weight: 400;}
#image-3509-174 {width: 30%;margin-right: 3rem;margin-left: 3rem;height: auto;}