#section-17-16 > .ct-section-inner-wrap {max-width: 100%;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: flex;flex-direction: column;}
#section-17-16 {display: block;}
#section-17-16 {text-align: left;}
#main-content {width: 100%;height: 100%;flex-direction: column;display: flex;text-align: left;align-items: center;}
#div_block-19-16 {width: 50%;background-repeat: no-repeat;background-attachment: scroll;}
#div_block-21-16 {width: 50%;}
#div_block-22-16 {background-color: #fff;width: 80%;height: 1px;padding-top: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;margin-left: auto;margin-top: 0px;margin-bottom: 0px;min-height: 1px;max-height: 1px;}
#headline-23-16 {margin-left: 5%;color: #fff;font-family: "Antonio";margin-top: auto;margin-bottom: auto;}
#inner_content-6-16 {usecustomtag: true;width: 100%;margin-left: auto;margin-right: auto;}
#span-24-16 {font-family: "Plus Jakarta Sans";font-weight: 400;}
@media (max-width:479px) {#span-24-16 {font-size: 35px;}}