#page-hero-section > .ct-section-inner-wrap {padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;display: flex;flex-direction: row;align-items: stretch;justify-content: space-between;}
#page-hero-section {display: block;}
#page-hero-section {background-color: #05abe8;overflow: hidden;}
#div_block-617-30 {min-width: 40%;max-width: 40%;padding-top: 5rem;padding-bottom: 5rem;justify-content: center;}
#div_block-618-30 {min-width: 60%;max-width: 60%;min-height: 100%;text-align: left;align-items: center;}
#image-616-30 {margin-top: -25%;width: 33vw;}