#div_block-7938-174 {margin-bottom: 0px;}
#div_block-7940-174 {width: 40%;}
#div_block-7942-174 {width: 20%;}
#div_block-7944-174 {width: 20%;}
#div_block-7946-174 {width: 20%;}
#div_block-7949-174 {width: 40%;flex-direction: column;display: flex;text-align: left;justify-content: center;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7952-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7954-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7956-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7960-174 {width: 40%;flex-direction: column;display: flex;text-align: left;justify-content: center;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7963-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7965-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7967-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7971-174 {width: 40%;flex-direction: column;display: flex;text-align: left;justify-content: center;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7975-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7977-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7979-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7983-174 {width: 40%;flex-direction: column;display: flex;text-align: left;justify-content: center;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7987-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7989-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7991-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7995-174 {width: 40%;flex-direction: column;display: flex;text-align: left;justify-content: center;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-7999-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-8001-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-8003-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-8036-174 {width: 40%;flex-direction: column;display: flex;text-align: left;justify-content: center;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-8040-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-8042-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#div_block-8044-174 {width: 20%;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;}
#text_block-6437-174 {display: inline;font-size: 14px;}
#text_block-6447-174 {display: inline;font-size: 14px;}
#text_block-6457-174 {display: inline;font-size: 14px;}
#text_block-6467-174 {display: inline;font-size: 14px;}
#text_block-6478-174 {display: inline;font-size: 14px;}
#text_block-6489-174 {display: inline;font-size: 14px;}